Repository pantheon-systems/decoupled-kit-js, pull requests merged in 2022-05, with the labels that each got.

#92 DB-1012: Updating WordPress dependencies docs.
  web/docs/Backend Starters/Decoupled WordPress/managing-dependencies.md
Labels: documentation

#95 Chore: Upgrade DrupalState
  .changeset/wicked-vans-design.md
  packages/drupal-kit/package.json
  packages/drupal-kit/src/PantheonDrupalState.ts
  packages/drupal-kit/src/__tests__/PantheonDrupalState.test.ts
  pnpm-lock.yaml
  starters/next-drupal-starter/package-lock.json
Labels: next-drupal, decoupled-kit, dependencies, drupal-kit

#97 Version Release 5-16-2022
  .changeset/wicked-vans-design.md
  .github/ISSUE_TEMPLATE/bug-report-template.md
  .github/ISSUE_TEMPLATE/bug-report-template.yml
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  package.json
  packages/drupal-kit/package.json
  packages/drupal-kit/src/PantheonDrupalState.ts
  packages/drupal-kit/src/__tests__/PantheonDrupalState.test.ts
  pnpm-lock.yaml
  starters/next-drupal-starter/package-lock.json
  web/docs/Backend Starters/Decoupled Drupal/creating-new-project.md
  web/docs/Backend Starters/Decoupled WordPress/managing-dependencies.md
Labels: release

#100 DB-2794: Upgrade pnpm to 7.1.0
  .circleci/config.yml
  .github/workflows/release.yml
  .husky/pre-commit
  CONTRIBUTING.md
  README.md
  package.json
  packages/drupal-kit/package.json
  pnpm-lock.yaml
Labels: decoupled-kit, ci/cd, dependencies

#102 Copy edits to README
  README.md
Labels: documentation, decoupled-kit

#93 DB-2113: [next-drupal] Persist data in Drupal State store
  .changeset/poor-stingrays-deliver.md
  .changeset/wicked-vans-design.md
  .github/pull_request_template.md
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  pnpm-lock.yaml
  starters/next-drupal-starter/.env.example
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/README.md
  starters/next-drupal-starter/components/footer.js
  starters/next-drupal-starter/lib/drupalStateContext.js
  starters/next-drupal-starter/next.config.js
  starters/next-drupal-starter/package.json
  starters/next-drupal-starter/pages/_app.js
  starters/next-drupal-starter/pages/articles/[...slug].js
  starters/next-drupal-starter/pages/articles/index.js
  starters/next-drupal-starter/pages/examples/auth-api.js
  starters/next-drupal-starter/pages/examples/pagination/[[...page]].js
  starters/next-drupal-starter/pages/index.js
  starters/next-drupal-starter/pages/pages/[...alias].js
  starters/next-drupal-starter/pages/pages/index.js
  starters/next-drupal-starter/pages/recipes/[...slug].js
  starters/next-drupal-starter/pages/recipes/index.js
  starters/next-drupal-starter/scripts/generate-layout.js
Labels: next-drupal

#104 DB-2719: Document removal of recipes pages
  starters/next-drupal-starter/README.md
  starters/next-drupal-starter/pages/recipes/[...slug].js
  starters/next-drupal-starter/pages/recipes/index.js
Labels: next-drupal

#105 [next-drupal] DB-1570: Nextjs preview endpoint redirects based on content not slug
  .changeset/popular-gorillas-burn.md
  starters/next-drupal-starter/components/footer.js
  starters/next-drupal-starter/pages/500.js
  starters/next-drupal-starter/pages/api/preview.js
  starters/next-drupal-starter/pages/articles/[...slug].js
  starters/next-drupal-starter/pages/pages/[...alias].js
  starters/next-drupal-starter/pages/pages/index.js
Labels: next-drupal

#109 Update versions
  .changeset/poor-stingrays-deliver.md
  .changeset/popular-gorillas-burn.md
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
Labels: release

#107 DB-2691: updated docs to include examples of using other BE CI providers
  web/docs/Backend Starters/Decoupled Drupal/creating-new-project.md
  web/docs/Backend Starters/Decoupled WordPress/creating-new-project.md
  web/docs/Packages/drupal-kit/classes/src_PantheonDrupalState.default.md
  web/docs/Packages/drupal-kit/interfaces/src_types_types.authInit.md
  web/docs/Packages/drupal-kit/modules/src_fetch_defaultFetch.md
  web/docs/Packages/drupal-kit/modules/src_utils_addSurrogateKeyHeader.md
  web/docs/Packages/drupal-kit/modules/src_utils_updateMaxAge.md
  web/docs/Packages/wordpress-kit/classes/src_lib_ApolloClientFactory.default.md
Labels: documentation

#106 [next-drupal] DB-2339: Abstract page templates into components
  .changeset/tiny-mails-act.md
  starters/next-drupal-starter/.env.example
  starters/next-drupal-starter/README.md
  starters/next-drupal-starter/components/article.js
  starters/next-drupal-starter/components/grid.js
  starters/next-drupal-starter/components/page-header.js
  starters/next-drupal-starter/components/paginator.js
  starters/next-drupal-starter/pages/_app.js
  starters/next-drupal-starter/pages/articles/[...slug].js
  starters/next-drupal-starter/pages/articles/index.js
  starters/next-drupal-starter/pages/examples/auth-api.js
  starters/next-drupal-starter/pages/examples/pagination/[[...page]].js
  starters/next-drupal-starter/pages/index.js
  starters/next-drupal-starter/pages/pages/[...alias].js
  starters/next-drupal-starter/pages/pages/index.js
  starters/next-drupal-starter/pages/recipes/[...slug].js
  starters/next-drupal-starter/pages/recipes/index.js
Labels: next-drupal

#113 DB-2339: Fix props for GridedComponent
  starters/next-drupal-starter/components/grid.js
Labels: next-drupal, bugfix
