Repository pantheon-systems/decoupled-kit-js, pull requests merged in 2022-04, with the labels that each got.

#44 Nightly Audit on 04/13/22
  package.json
  pnpm-lock.yaml
Labels: security, dependencies

#49 Merge Canary to Main
  .changeset/cold-snails-yell.md
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  starters/gatsby-wordpress-starter/LICENSE
  starters/gatsby-wordpress-starter/package-lock.json
  starters/next-drupal-starter/components/header.js
  starters/next-drupal-starter/components/layout.js
  starters/next-drupal-starter/package-lock.json
  starters/next-drupal-starter/pages/articles/[...slug].js
  starters/next-drupal-starter/pages/index.js
  starters/next-drupal-starter/pages/pages/[alias].js
  starters/next-drupal-starter/pages/pages/index.js
  starters/next-drupal-starter/pages/recipes/[...slug].js
  starters/next-drupal-starter/pages/recipes/index.js
Labels: decoupled-kit, release

#50 DB-1868: Fix workflow
  .github/workflows/release.yml
Labels: decoupled-kit, ci/cd, bugfix

#52 Merge Canary to Main to Update Workflow
  .github/workflows/release.yml
Labels: decoupled-kit, release

#59 DB-2114: [next-drupal] Refine environment variable config
  .changeset/sweet-eggs-call.md
  starters/next-drupal-starter/lib/constants.js
  starters/next-drupal-starter/next.config.js
  starters/next-drupal-starter/package.json
  starters/next-drupal-starter/pages/articles/[...slug].js
  starters/next-drupal-starter/pages/articles/index.js
  starters/next-drupal-starter/pages/examples/pagination/[[...page]].js
  starters/next-drupal-starter/pages/index.js
  starters/next-drupal-starter/pages/pages/index.js
  starters/next-drupal-starter/pages/recipes/[...slug].js
  starters/next-drupal-starter/pages/recipes/index.js
Labels: next-drupal

#63 Update IMAGE_DOMAIN Variable in .example.env
  starters/next-drupal-starter/.env.example
Labels: next-drupal

#64 DB-2114: [next-drupal] Refine environment variable config
  .changeset/big-hotels-repair.md
  starters/next-drupal-starter/next.config.js
  starters/next-drupal-starter/scripts/generate-layout.js
  starters/next-drupal-starter/scripts/get-locales.js
Labels: next-drupal

#65 Backmerge 1.0.1 Changeset versions
  .changeset/cold-snails-yell.md
  .changeset/sweet-eggs-call.md
  starters/gatsby-wordpress-starter/CHANGELOG.md
  starters/gatsby-wordpress-starter/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
Labels: decoupled-kit

#58 DB-2432: Readme and Package Metadata Updates
  .changeset/hot-carrots-explain.md
  .github/ISSUE_TEMPLATE/bug-report-template.md
  .github/ISSUE_TEMPLATE/bug-report-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/doc-update-template.md
  .github/ISSUE_TEMPLATE/feature-request-template.yml
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  package.json
  packages/drupal-kit/README.md
  packages/drupal-kit/package.json
  packages/wordpress-kit/README.md
  packages/wordpress-kit/package.json
  pnpm-lock.yaml
  starters/gatsby-wordpress-starter/README.md
  starters/gatsby-wordpress-starter/package.json
  starters/next-drupal-starter/README.md
  starters/next-drupal-starter/package.json
  web/package.json
Labels: documentation, next-drupal, gatsby-wordpress, decoupled-kit, drupal-kit, wordpress-kit

#68 Build valid lock files for starters
  starters/gatsby-wordpress-starter/package-lock.json
  starters/gatsby-wordpress-starter/package.json
  starters/next-drupal-starter/README.md
  starters/next-drupal-starter/package-lock.json
Labels: next-drupal, gatsby-wordpress

#67 DB-2115: [gatsby-wordpress] Refine environment variable config
  .changeset/forty-bikes-lick.md
  starters/gatsby-wordpress-starter/gatsby-config.js
Labels: gatsby-wordpress

#69 DB-1467: [docs] Gatsby Starter Environment Variable Configuration
  web/docs/Frontend Starters/Gatsby Wordpress/setting-environment-variables.md
Labels: documentation, gatsby-wordpress

#72 DB-2114: [next-drupal] Fix .env.local loading in production
  .changeset/thirty-chairs-compete.md
  starters/next-drupal-starter/.gitignore
  starters/next-drupal-starter/next.config.js
  starters/next-drupal-starter/package.json
Labels: next-drupal, bugfix

#74 Update versions
  .changeset/thirty-chairs-compete.md
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
Labels: release

#75 Backmerge 1.0.3 versions into canary
  .changeset/thirty-chairs-compete.md
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
Labels: decoupled-kit

#77 Version Release 2: 4-18-22
  .changeset/friendly-cars-jump.md
  starters/next-drupal-starter/.env.example
  starters/next-drupal-starter/README.md
  starters/next-drupal-starter/next.config.js
  starters/next-drupal-starter/package.json
Labels: release

#79 DB-1055: [docs] Next Starter Environment Variable Configuration
  .changeset/friendly-cars-jump.md
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
  web/docs/Frontend Starters/Next Drupal/setting-environment-variables.md
  web/docs/Packages/drupal-kit/classes/src_PantheonDrupalState.default.md
  web/docs/Packages/drupal-kit/index.md
  web/docs/Packages/drupal-kit/interfaces/src_types_types.authInit.md
  web/docs/Packages/drupal-kit/modules/src_fetch_defaultFetch.md
  web/docs/Packages/drupal-kit/modules/src_utils_addSurrogateKeyHeader.md
  web/docs/Packages/drupal-kit/modules/src_utils_updateMaxAge.md
  web/docs/Packages/wordpress-kit/classes/src_lib_ApolloClientFactory.default.md
  web/docs/Packages/wordpress-kit/index.md
  web/docs/intro.md
  web/generateTypedocOptions.js
Labels: documentation, next-drupal

#80 [next-drupal] Expose Next FRONTEND_URL
  .changeset/fast-rules-occur.md
  starters/next-drupal-starter/next.config.js
  starters/next-drupal-starter/pages/articles/[...slug].js
  starters/next-drupal-starter/pages/index.js
  starters/next-drupal-starter/pages/pages/[alias].js
  starters/next-drupal-starter/pages/pages/index.js
  starters/next-drupal-starter/pages/recipes/[...slug].js
  starters/next-drupal-starter/pages/recipes/index.js
Labels: next-drupal, bugfix

#81 Update Homepage Callout Copy and Logo
  .changeset/fluffy-jars-guess.md
  starters/gatsby-wordpress-starter/src/templates/blog-post-archive.js
  starters/gatsby-wordpress-starter/static/pantheon.png
  starters/gatsby-wordpress-starter/static/pantheon.svg
  starters/next-drupal-starter/pages/articles/index.js
  starters/next-drupal-starter/pages/index.js
  starters/next-drupal-starter/pages/recipes/index.js
  starters/next-drupal-starter/public/pantheon.png
  starters/next-drupal-starter/public/pantheon.svg
Labels: next-drupal, gatsby-wordpress

#82 [next-drupal][gatsby-wordpress] Speed up next-drupal images in production & update favicons
  .changeset/four-pears-type.md
  pnpm-lock.yaml
  starters/gatsby-wordpress-starter/static/favicon.ico
  starters/next-drupal-starter/package.json
  starters/next-drupal-starter/pages/articles/[...slug].js
  starters/next-drupal-starter/public/favicon.ico
Labels: next-drupal, gatsby-wordpress

#88 Rename pr-template.yml to pull_request_template.yml
  .github/pull_request_template.yml
Labels: bugfix

#89 Actually fix the pr template
  .github/pull_request_template.md
  .github/pull_request_template.yml
Labels: decoupled-kit, bugfix

#90 DB-1609: update drupal build tools install command
  web/docs/Backend Starters/Decoupled Drupal/creating-new-project.md
Labels: documentation

#91 Nightly Audit on 04/29/22
  package.json
  pnpm-lock.yaml
Labels: decoupled-kit, security, dependencies
