Repository pantheon-systems/decoupled-kit-js, pull requests merged in 2022-07, with the labels that each got.

#151 DB-3176: Dynamic Footer Menu
  .changeset/heavy-bikes-exercise.md
  .changeset/red-pets-help.md
  .gitignore
  package.json
  packages/wordpress-kit/README.md
  packages/wordpress-kit/index.ts
  packages/wordpress-kit/package.json
  packages/wordpress-kit/rollup.config.js
  packages/wordpress-kit/src/lib/ApolloClientFactory.ts
  packages/wordpress-kit/src/lib/GraphqlClientFactory.ts
  packages/wordpress-kit/src/lib/__tests__/ApolloClientFactory.test.ts
  packages/wordpress-kit/src/lib/__tests__/GraphqlClientFactory.test.ts
  packages/wordpress-kit/src/main.ts
  pnpm-lock.yaml
  starters/next-wordpress-starter/components/footer.js
  starters/next-wordpress-starter/components/layout.js
  starters/next-wordpress-starter/lib/Menus.js
  starters/next-wordpress-starter/lib/WordpressClient.js
  starters/next-wordpress-starter/next.config.js
  starters/next-wordpress-starter/package.json
  starters/next-wordpress-starter/pages/_app.js
  starters/next-wordpress-starter/pages/index.js
  starters/next-wordpress-starter/pages/pages/index.js
  starters/next-wordpress-starter/pages/posts/index.js
Labels: wordpress-kit, next-wordpress

#158 DB-3177: PostGrid
  .changeset/late-coins-flash.md
  starters/next-wordpress-starter/.env.example
  starters/next-wordpress-starter/components/grid.js
  starters/next-wordpress-starter/lib/Posts.js
  starters/next-wordpress-starter/next.config.js
  starters/next-wordpress-starter/pages/index.js
Labels: next-wordpress

#152 Upgrade pnpm to v7.4.0
  .circleci/config.yml
  .github/workflows/release-and-split.yml
  README.md
  package.json
  packages/drupal-kit/package.json
  pnpm-lock.yaml
  web/docs/intro.md
Labels: decoupled-kit

#159 Sprint 26 Release 2 - canary -> main
  .changeset/eleven-jobs-care.md
  .changeset/heavy-bikes-exercise.md
  .changeset/late-coins-flash.md
  .changeset/red-pets-help.md
  .circleci/config.yml
  .github/workflows/release-and-split.yml
  .gitignore
  README.md
  package.json
  packages/drupal-kit/package.json
  packages/wordpress-kit/README.md
  packages/wordpress-kit/index.ts
  packages/wordpress-kit/package.json
  packages/wordpress-kit/rollup.config.js
  packages/wordpress-kit/src/lib/ApolloClientFactory.ts
  packages/wordpress-kit/src/lib/GraphqlClientFactory.ts
  packages/wordpress-kit/src/lib/__tests__/ApolloClientFactory.test.ts
  packages/wordpress-kit/src/lib/__tests__/GraphqlClientFactory.test.ts
  packages/wordpress-kit/src/main.ts
  pnpm-lock.yaml
  starters/next-drupal-starter/lib/getPaths.js
  starters/next-drupal-starter/pages/articles/[...slug].js
  starters/next-drupal-starter/pages/articles/index.js
  starters/next-drupal-starter/pages/index.js
  starters/next-drupal-starter/pages/pages/[...alias].js
  starters/next-drupal-starter/pages/recipes/[...slug].js
  starters/next-wordpress-starter/.env.example
  starters/next-wordpress-starter/components/footer.js
  starters/next-wordpress-starter/components/grid.js
  starters/next-wordpress-starter/components/layout.js
  starters/next-wordpress-starter/lib/Menus.js
  starters/next-wordpress-starter/lib/Posts.js
  starters/next-wordpress-starter/lib/WordpressClient.js
  starters/next-wordpress-starter/next.config.js
  starters/next-wordpress-starter/package.json
  starters/next-wordpress-starter/pages/_app.js
  starters/next-wordpress-starter/pages/index.js
  starters/next-wordpress-starter/pages/pages/index.js
  starters/next-wordpress-starter/pages/posts/index.js
  web/docs/Frontend Starters/Gatsby Wordpress/setting-environment-variables.md
  web/docs/intro.md
Labels: release

#160 Update versions
  .changeset/eleven-jobs-care.md
  .changeset/heavy-bikes-exercise.md
  .changeset/late-coins-flash.md
  .changeset/red-pets-help.md
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package-lock.json
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/package.json
Labels: release

#164 DB-3180: Page Grid Page
  .changeset/eight-spiders-punch.md
  starters/next-wordpress-starter/components/grid.js
  starters/next-wordpress-starter/lib/Pages.js
  starters/next-wordpress-starter/pages/pages/index.js
Labels: next-wordpress

#166 DB-3181: Page Detail
  .changeset/sour-geese-mix.md
  starters/next-wordpress-starter/components/page.js
  starters/next-wordpress-starter/lib/Pages.js
  starters/next-wordpress-starter/pages/pages/[uri].js
Labels: next-wordpress

#165 DB-2246: Update Gatsby WordPress intro documentation
  web/docs/Frontend Starters/Gatsby Wordpress/intro.md
  web/docs/Frontend Starters/Gatsby Wordpress/your-first-customization.md
  web/docs/Packages/drupal-kit/classes/src_PantheonDrupalState.default.md
  web/docs/Packages/drupal-kit/index.md
  web/docs/Packages/drupal-kit/interfaces/src_types_types.authInit.md
  web/docs/Packages/drupal-kit/modules/src_fetch_defaultFetch.md
  web/docs/Packages/drupal-kit/modules/src_utils_addSurrogateKeyHeader.md
  web/docs/Packages/drupal-kit/modules/src_utils_updateMaxAge.md
  web/docs/Packages/wordpress-kit/classes/src_lib_ApolloClientFactory.default.md
  web/docs/Packages/wordpress-kit/classes/src_lib_GraphqlClientFactory.default.md
  web/docs/Packages/wordpress-kit/index.md
  web/docs/Packages/wordpress-kit/modules.md
  web/docs/Packages/wordpress-kit/modules/index.md
  web/docs/Packages/wordpress-kit/modules/src_lib_ApolloClientFactory.md
  web/docs/Packages/wordpress-kit/modules/src_lib_GraphqlClientFactory.md
Labels: documentation

#168 DB-3315: Fix preview revisions
  .changeset/good-mugs-brake.md
  starters/next-drupal-starter/lib/getPreview.js
  starters/next-drupal-starter/pages/articles/[...slug].js
  starters/next-drupal-starter/pages/pages/[...alias].js
  starters/next-drupal-starter/pages/recipes/[...slug].js
Labels: next-drupal, bugfix

#170 DB-3184: Enhanced Block Editor Support - Paragraph Block POC
  .changeset/friendly-shoes-hear.md
  .changeset/unlucky-bats-tickle.md
  packages/wordpress-kit/index.ts
  packages/wordpress-kit/package.json
  packages/wordpress-kit/rollup.config.js
  packages/wordpress-kit/src/lib/tailwindcssPlugin.ts
  pnpm-lock.yaml
  starters/next-wordpress-starter/tailwind.config.js
Labels: wordpress-kit, next-wordpress

#171 DB-1525: [next-drupal-starter] Unit tests
  .changeset/shaggy-plums-help.md
  .circleci/config.yml
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  starters/next-drupal-starter/README.md
  starters/next-drupal-starter/__tests__/data/defaultProfileApiIndex.json
  starters/next-drupal-starter/__tests__/data/defaultProfileArticles.json
  starters/next-drupal-starter/__tests__/data/defaultProfilePaths.json
  starters/next-drupal-starter/__tests__/data/defaultProfilePreview.json
  starters/next-drupal-starter/__tests__/data/oauthToken.json
  starters/next-drupal-starter/__tests__/data/umamiEnApiIndex.json
  starters/next-drupal-starter/__tests__/data/umamiEnArticles.json
  starters/next-drupal-starter/__tests__/data/umamiEsApiIndex.json
  starters/next-drupal-starter/__tests__/data/umamiEsArticles.json
  starters/next-drupal-starter/__tests__/data/umamiEsPreview.json
  starters/next-drupal-starter/__tests__/data/umamiPaths.json
  starters/next-drupal-starter/__tests__/data/umamiPreview.json
  starters/next-drupal-starter/__tests__/drupalStateContext.test.jsx
  starters/next-drupal-starter/__tests__/getPaths.test.js
  starters/next-drupal-starter/__tests__/getPreview.test.js
  starters/next-drupal-starter/__tests__/isMultiLanguage.test.js
  starters/next-drupal-starter/__tests__/setupFile.js
  starters/next-drupal-starter/lib/drupalStateContext.jsx
  starters/next-drupal-starter/lib/getPaths.js
  starters/next-drupal-starter/package-lock.json
  starters/next-drupal-starter/package.json
  starters/next-drupal-starter/pages/recipes/[...slug].js
  starters/next-drupal-starter/vite.config.js
Labels: next-drupal

#174 DB-3183: Split next-wordpress-starter to standalone repo in ci
  .github/workflows/release-and-split.yml
Labels: decoupled-kit, ci/cd, next-wordpress

#176 Update versions
  .changeset/calm-mails-attack.md
  .changeset/eight-spiders-punch.md
  .changeset/friendly-shoes-hear.md
  .changeset/gentle-pets-burn.md
  .changeset/good-mugs-brake.md
  .changeset/shaggy-plums-help.md
  .changeset/sour-geese-mix.md
  .changeset/stupid-shoes-work.md
  .changeset/unlucky-bats-tickle.md
  .changeset/weak-nails-fold.md
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package-lock.json
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/package.json
Labels: release

#177 Sprint 27 Release Backmerge - main -> canary
  .changeset/calm-mails-attack.md
  .changeset/eight-spiders-punch.md
  .changeset/friendly-shoes-hear.md
  .changeset/gentle-pets-burn.md
  .changeset/good-mugs-brake.md
  .changeset/shaggy-plums-help.md
  .changeset/sour-geese-mix.md
  .changeset/stupid-shoes-work.md
  .changeset/unlucky-bats-tickle.md
  .changeset/weak-nails-fold.md
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package-lock.json
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/package.json
Labels: release

#179 DB-3545: Dependencies and Docs
  .changeset/six-impalas-decide.md
  package.json
  packages/wordpress-kit/README.md
  pnpm-lock.yaml
  starters/gatsby-wordpress-starter/package.json
  starters/next-drupal-starter/package-lock.json
  starters/next-wordpress-starter/README.md
  starters/next-wordpress-starter/package.json
  web/docs/Packages/drupal-kit/classes/src_PantheonDrupalState.default.md
  web/docs/Packages/drupal-kit/interfaces/src_types_types.authInit.md
  web/docs/Packages/drupal-kit/modules/src_fetch_defaultFetch.md
  web/docs/Packages/drupal-kit/modules/src_utils_addSurrogateKeyHeader.md
  web/docs/Packages/drupal-kit/modules/src_utils_updateMaxAge.md
  web/docs/Packages/wordpress-kit/classes/src_lib_GraphqlClientFactory.default.md
  web/docs/Packages/wordpress-kit/modules.md
  web/docs/Packages/wordpress-kit/modules/index.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin.md
  web/package.json
Labels: documentation, decoupled-kit, dependencies, wordpress-kit, next-wordpress

#182 Nightly Audit on 07/25/22
  package.json
  pnpm-lock.yaml
Labels: security, dependencies

#185 Downgrade gatsby@4.19.0 to 4.16.0
  .changeset/lazy-poets-count.md
  package.json
  pnpm-lock.yaml
  starters/gatsby-wordpress-starter/package-lock.json
  starters/gatsby-wordpress-starter/package.json
Labels: gatsby-wordpress, bugfix

#183 DB-3228: [next-drupal-starter] Snapshot tests
  .changeset/funny-jeans-judge.md
  packages/wordpress-kit/CHANGELOG.md
  pnpm-lock.yaml
  starters/next-drupal-starter/README.md
  starters/next-drupal-starter/__mocks__/next/image.jsx
  starters/next-drupal-starter/__tests__/__snapshots__/default/articles.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/auth-api.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/homepage.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/pages.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/pagination.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/recipes.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/articles.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/auth-api.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/homepage.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/pages.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/pagination.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/recipes.test.jsx.snap
  starters/next-drupal-starter/__tests__/data/defaultProfileArticlesData.json
  starters/next-drupal-starter/__tests__/data/defaultProfileMenuItemsMainData.json
  starters/next-drupal-starter/__tests__/data/defaultProfilePagesData.json
  starters/next-drupal-starter/__tests__/data/examplePaginationData.json
  starters/next-drupal-starter/__tests__/data/umamiEnArticlesData.json
  starters/next-drupal-starter/__tests__/data/umamiEnPagesData.json
  starters/next-drupal-starter/__tests__/data/umamiEnRecipesData.json
  starters/next-drupal-starter/__tests__/data/umamiEsArticlesData.json
  starters/next-drupal-starter/__tests__/data/umamiMenuItemsMainData.json
  starters/next-drupal-starter/__tests__/drupalStateContext.test.jsx
  starters/next-drupal-starter/__tests__/getPaths.test.js
  starters/next-drupal-starter/__tests__/getPreview.test.js
  starters/next-drupal-starter/__tests__/isMultiLanguage.test.js
  starters/next-drupal-starter/__tests__/setupFile.js
  starters/next-drupal-starter/__tests__/snapshotTests/articles.test.jsx
  starters/next-drupal-starter/__tests__/snapshotTests/auth-api.test.jsx
  starters/next-drupal-starter/__tests__/snapshotTests/homepage.test.jsx
  starters/next-drupal-starter/__tests__/snapshotTests/pages.test.jsx
  starters/next-drupal-starter/__tests__/snapshotTests/pagination.test.jsx
  starters/next-drupal-starter/__tests__/snapshotTests/recipes.test.jsx
  starters/next-drupal-starter/components/article.jsx
  starters/next-drupal-starter/components/footer.jsx
  starters/next-drupal-starter/components/grid.jsx
  starters/next-drupal-starter/components/header.jsx
  starters/next-drupal-starter/components/layout.jsx
  starters/next-drupal-starter/components/page-header.jsx
  starters/next-drupal-starter/components/paginator.jsx
  starters/next-drupal-starter/package.json
  starters/next-drupal-starter/pages/404.jsx
  starters/next-drupal-starter/pages/500.jsx
  starters/next-drupal-starter/pages/_app.jsx
  starters/next-drupal-starter/pages/articles/[...slug].jsx
  starters/next-drupal-starter/pages/articles/index.jsx
  starters/next-drupal-starter/pages/examples/auth-api.jsx
  starters/next-drupal-starter/pages/examples/pagination/[[...page]].jsx
  starters/next-drupal-starter/pages/index.jsx
  starters/next-drupal-starter/pages/pages/[...alias].jsx
  starters/next-drupal-starter/pages/pages/index.jsx
  starters/next-drupal-starter/pages/recipes/[...slug].jsx
  starters/next-drupal-starter/pages/recipes/index.jsx
  starters/next-drupal-starter/vite.config.js
Labels: next-drupal

#186 DB-3466: [next-wordpress] Block Editor Pullquote Styles
  .changeset/strong-glasses-carry.md
  packages/wordpress-kit/index.ts
  packages/wordpress-kit/src/lib/tailwindCssPlugin/config.ts
  packages/wordpress-kit/src/lib/tailwindCssPlugin/constants.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin.ts
  packages/wordpress-kit/src/types/tailwindcssPlugin.d.ts
Labels: wordpress-kit

#189 DB-3188: Add next-wordpress-starter canary site
  .github/workflows/canary-sites-split.yml
Labels: ci/cd, next-wordpress

#190 DB-3466: Rendering issues for quote blocks for wordpress-next starter site
  .changeset/soft-lemons-draw.md
  packages/wordpress-kit/src/lib/tailwindCssPlugin/config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin.ts
Labels: wordpress-kit

#191 DB-3453: [next-wordpress] Invalid href passed to next/router
  .changeset/neat-frogs-dress.md
  starters/next-wordpress-starter/components/footer.jsx
  starters/next-wordpress-starter/lib/Menus.js
Labels: next-wordpress

#192 DB-3466: Fix a problem with the spacing inside the pullquotes
  .changeset/five-rings-compare.md
  packages/wordpress-kit/src/lib/tailwindcssPlugin.ts
Labels: wordpress-kit
