Repository pantheon-systems/decoupled-kit-js, pull requests merged in 2022-09, with the labels that each got.

#241 DB-3793: [nextjs-kit] Fix `nextjs-kit` bundle
  .changeset/nice-crabs-push.md
  .changeset/shaggy-trees-cough.md
  packages/nextjs-kit/README.md
  packages/nextjs-kit/index.ts
  packages/nextjs-kit/package.json
  packages/nextjs-kit/postcss.config.js
  packages/nextjs-kit/rollup.config.js
  packages/nextjs-kit/src/components/index.ts
  packages/nextjs-kit/src/index.ts
  packages/nextjs-kit/src/lib/index.ts
  packages/nextjs-kit/src/lib/sortChar.ts
  packages/nextjs-kit/src/lib/sortDate.ts
  packages/nextjs-kit/style.css
  packages/nextjs-kit/tailwind.config.js
  packages/nextjs-kit/tsconfig.json
  packages/nextjs-kit/umd-entrypoint.ts
  packages/nextjs-kit/utils/getFiles.js
  packages/nextjs-kit/vite.config.js
  pnpm-lock.yaml
  starters/next-drupal-starter/pages/articles/index.jsx
  starters/next-drupal-starter/pages/index.jsx
  starters/next-drupal-starter/pages/pages/index.jsx
  starters/next-drupal-starter/pages/recipes/index.jsx
Labels: next-drupal, bugfix, nextjs-kit

#244 Fix next wp starter
  .changeset/cuddly-terms-explode.md
  starters/next-wordpress-starter/lib/WordPressClient.js
Labels: bugfix, next-wordpress

#246 Fix gatsby wp starter
  .changeset/tiny-snakes-walk.md
  starters/gatsby-wordpress-starter/package-lock.json
Labels: gatsby-wordpress, bugfix

#250 Sprint 30 - Exit prerelease mode
  .changeset/pre.json
Labels: release

#252 Sprint 30 Release Take 2 - Canary -> Main
  .changeset/pre.json
Labels: release

#255 Re-enter pre-mode
  .changeset/pre.json
Labels: 🐥 canary release

#242 DB-3787: Refactor block editor support and remove html-react-parser
  .changeset/mean-crabs-sin.md
  pnpm-lock.yaml
  starters/gatsby-wordpress-starter/package-lock.json
  starters/gatsby-wordpress-starter/package.json
  starters/gatsby-wordpress-starter/src/components/page.jsx
  starters/gatsby-wordpress-starter/src/components/post.jsx
Labels: gatsby-wordpress

#257 DB-3263: upgrade Gatsby to resolve error in dev mode
  .changeset/sharp-jokes-begin.md
  pnpm-lock.yaml
  starters/gatsby-wordpress-starter/package-lock.json
  starters/gatsby-wordpress-starter/package.json
Labels: gatsby-wordpress

#259 Remove protocol from `IMAGE_DOMAIN` if it is http OR https
  .changeset/four-pans-protect.md
  starters/next-drupal-starter/next.config.js
  starters/next-wordpress-starter/next.config.js
Labels: next-drupal, bugfix, next-wordpress

#261 Db 3263: Resolve lock file issues
  .changeset/fuzzy-numbers-wink.md
  pnpm-lock.yaml
  starters/gatsby-wordpress-starter/package-lock.json
  starters/gatsby-wordpress-starter/package.json
Labels: gatsby-wordpress

#258 DB-3279: Update WordPress create new project steps.
  web/docs/Backend Starters/Decoupled WordPress/creating-new-project.md
Labels: documentation

#263 DB-3878: Change Next Starters to use Standalone Output Mode
  .changeset/seven-suns-shave.md
  package.json
  packages/nextjs-kit/package.json
  pnpm-lock.yaml
  starters/next-drupal-starter/next.config.js
  starters/next-drupal-starter/package-lock.json
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/next.config.js
  starters/next-wordpress-starter/package-lock.json
  starters/next-wordpress-starter/package.json
Labels: next-drupal, next-wordpress, nextjs-kit

#264 Update terminus site:create command
  web/docs/Backend Starters/Decoupled Drupal/creating-new-project.md
Labels: documentation

#262 DB-3493: Preview Mode Ribbon
  .changeset/fifty-months-matter.md
  starters/next-drupal-starter/__tests__/__snapshots__/default/[...alias].test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/articles.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/auth-api.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/examples-index.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/homepage.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/pages.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/pagination.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/recipes.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/default/ssr-isr-example.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/[...alias].test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/articles.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/auth-api.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/examples-index.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/homepage.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/pages.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/pagination.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/recipes.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/ssr-isr-example.test.jsx.snap
  starters/next-drupal-starter/components/layout.jsx
  starters/next-drupal-starter/components/preview-ribbon.jsx
  starters/next-drupal-starter/pages/[...alias].jsx
  starters/next-drupal-starter/pages/api/clear-preview.js
  starters/next-drupal-starter/pages/articles/[...slug].jsx
  starters/next-drupal-starter/pages/pages/[...alias].jsx
  starters/next-drupal-starter/public/collapse.svg
Labels: next-drupal

#265 DB-3595: [next-wordpress-starter] Change to use SSR by Default
  .changeset/cool-suits-marry.md
  packages/drupal-kit/package.json
  packages/wordpress-kit/package.json
  starters/next-wordpress-starter/components/header.jsx
  starters/next-wordpress-starter/pages/examples/index.jsx
  starters/next-wordpress-starter/pages/examples/ssg-isr.jsx
  starters/next-wordpress-starter/pages/index.jsx
  starters/next-wordpress-starter/pages/pages/[uri].jsx
  starters/next-wordpress-starter/pages/pages/index.jsx
Labels: next-wordpress

#267 DB-3493: Preview Mode Ribbon
  .changeset/many-buses-do.md
  starters/next-drupal-starter/pages/api/preview.js
  starters/next-drupal-starter/pages/recipes/[...slug].jsx
Labels: next-drupal

#231 DB-3604: Add Pagination Component
  packages/nextjs-kit/src/__tests__/data/examplePaginationData.json
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/paginator.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/paginator.test.tsx
  packages/nextjs-kit/src/components/index.ts
  packages/nextjs-kit/src/components/paginator.tsx
  packages/nextjs-kit/src/lib/sortChar.ts
  packages/nextjs-kit/src/lib/sortDate.ts
  packages/nextjs-kit/src/types/index.ts
  packages/nextjs-kit/tsconfig.json
  packages/nextjs-kit/vite.config.js
Labels: nextjs-kit

#271 Update terminus site:create command for WordPress.
  web/docs/Backend Starters/Decoupled WordPress/creating-new-project.md
Labels: documentation

#270 DB-3611: Implement Paginator Component
  .changeset/tough-coats-guess.md
  starters/next-drupal-starter/__tests__/__snapshots__/default/pagination.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/pagination.test.jsx.snap
  starters/next-drupal-starter/__tests__/snapshotTests/pagination.test.jsx
  starters/next-drupal-starter/components/paginator.jsx
  starters/next-drupal-starter/pages/_app.jsx
  starters/next-drupal-starter/pages/examples/pagination/[[...page]].jsx
Labels: next-drupal

#249 Exit pre mode when doing a main release
  .github/scripts/main-release.sh
  .github/scripts/update-lockfiles.sh
  .github/workflows/canary-release.yml
  .github/workflows/release-and-split.yml
Labels: decoupled-kit, ci/cd, bugfix

#274 DB-3654: Block Editor Cover Styles
  .changeset/gentle-pumas-compare.md
  packages/wordpress-kit/src/lib/TailwindcssPlugin.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Cover.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/utilities/Colors.ts
Labels: wordpress-kit

#278 Fix import
  .changeset/gold-avocados-end.md
  starters/next-drupal-starter/pages/api/preview.js
Labels: next-drupal, bugfix

#273 DB-3822: Update Cache Control Header for SSR Responses
  .changeset/lucky-pandas-cover.md
  packages/wordpress-kit/index.ts
  packages/wordpress-kit/src/lib/__tests__/setEdgeHeader.test.ts
  packages/wordpress-kit/src/lib/setEdgeHeader.ts
  starters/next-wordpress-starter/pages/examples/auth-api.jsx
  starters/next-wordpress-starter/pages/examples/index.jsx
  starters/next-wordpress-starter/pages/index.jsx
  starters/next-wordpress-starter/pages/pages/[uri].jsx
  starters/next-wordpress-starter/pages/pages/index.jsx
  starters/next-wordpress-starter/pages/posts/[slug].jsx
  starters/next-wordpress-starter/pages/posts/index.jsx
Labels: wordpress-kit, next-wordpress

#275 DB-3775: Remove Query Option
  .changeset/breezy-rings-wait.md
  packages/drupal-kit/package.json
  packages/drupal-kit/src/PantheonDrupalState.ts
  packages/drupal-kit/src/__tests__/PantheonDrupalState.test.ts
  packages/drupal-kit/src/__tests__/data/apiIndex.json
  packages/drupal-kit/src/__tests__/data/categoriesCollectionObjectQuery.json
  packages/drupal-kit/src/__tests__/data/categoriesCollectionQueryResponse.json
  packages/drupal-kit/src/__tests__/data/collection.json
  packages/drupal-kit/src/__tests__/data/recipesCollectionObject1.json
  packages/drupal-kit/src/__tests__/data/recipesCollectionObject1WithParams.json
  packages/drupal-kit/src/__tests__/data/recipesResourceData.json
  packages/drupal-kit/src/__tests__/data/recipesResourceData1.json
  packages/drupal-kit/src/__tests__/data/recipesResourceData1WithParams.json
  packages/drupal-kit/src/__tests__/data/recipesResourceObject.json
  packages/drupal-kit/src/__tests__/data/recipesResourceObject1.json
  packages/drupal-kit/src/__tests__/data/recipesResourceQueryData1.json
  packages/drupal-kit/src/__tests__/data/recipesResourceQueryObject1.json
  pnpm-lock.yaml
  starters/next-drupal-starter/components/paginator.jsx
  starters/next-drupal-starter/pages/examples/auth-api.jsx
  starters/next-drupal-starter/pages/examples/pagination/[[...page]].jsx
  starters/next-drupal-starter/pages/pages/index.jsx
Labels: next-drupal, drupal-kit

#280 Update changeset
  .changeset/breezy-rings-wait.md
  .changeset/dig-gentle-rabbits.md
Labels: ci/cd

#284 Exit sprint-31 pre-release
  .changeset/pre.json
Labels: release

#285 Update versions
  .changeset/breezy-rings-wait.md
  .changeset/brown-taxis-pretend.md
  .changeset/cool-suits-marry.md
  .changeset/dig-gentle-rabbits.md
  .changeset/fifty-months-matter.md
  .changeset/four-pans-protect.md
  .changeset/fuzzy-numbers-wink.md
  .changeset/gentle-pumas-compare.md
  .changeset/gold-avocados-end.md
  .changeset/lucky-pandas-cover.md
  .changeset/many-buses-do.md
  .changeset/mean-crabs-sin.md
  .changeset/pre.json
  .changeset/seven-suns-shave.md
  .changeset/sharp-jokes-begin.md
  .changeset/stale-weeks-juggle.md
  .changeset/tough-coats-guess.md
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/nextjs-kit/CHANGELOG.md
  packages/nextjs-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
  starters/gatsby-wordpress-starter/CHANGELOG.md
  starters/gatsby-wordpress-starter/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/package.json
Labels: release

#286 Sprint 31 - backmerge main -> canary
  .changeset/breezy-rings-wait.md
  .changeset/brown-taxis-pretend.md
  .changeset/cool-suits-marry.md
  .changeset/dig-gentle-rabbits.md
  .changeset/fifty-months-matter.md
  .changeset/four-pans-protect.md
  .changeset/fuzzy-numbers-wink.md
  .changeset/gentle-pumas-compare.md
  .changeset/gold-avocados-end.md
  .changeset/lucky-pandas-cover.md
  .changeset/many-buses-do.md
  .changeset/mean-crabs-sin.md
  .changeset/pre.json
  .changeset/seven-suns-shave.md
  .changeset/sharp-jokes-begin.md
  .changeset/stale-weeks-juggle.md
  .changeset/tough-coats-guess.md
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/nextjs-kit/CHANGELOG.md
  packages/nextjs-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
  starters/gatsby-wordpress-starter/CHANGELOG.md
  starters/gatsby-wordpress-starter/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/package.json
Labels: release

#287 Fix preview
  .changeset/sour-beers-shake.md
  .github/scripts/main-release.sh
  starters/next-drupal-starter/pages/api/preview.js
Labels: next-drupal, decoupled-kit, ci/cd, bugfix

#281 DB-3767: [next-wordpress] Add tests
  .changeset/rotten-pianos-pay.md
  pnpm-lock.yaml
  starters/next-wordpress-starter/README.md
  starters/next-wordpress-starter/__mocks__/next/image.jsx
  starters/next-wordpress-starter/__tests__/data/footerMenuData.json
  starters/next-wordpress-starter/__tests__/data/pageData.json
  starters/next-wordpress-starter/__tests__/data/pagesData.json
  starters/next-wordpress-starter/__tests__/data/postData.json
  starters/next-wordpress-starter/__tests__/data/postsData.json
  starters/next-wordpress-starter/__tests__/getUrlPath.test.js
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/auth-api.test.jsx.snap
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/example-index.test.jsx.snap
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/homepage.test.jsx.snap
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/pages.test.jsx.snap
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/posts.test.jsx.snap
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/ssg-isr-example.test.jsx.snap
  starters/next-wordpress-starter/__tests__/snapshotTests/auth-api.test.jsx
  starters/next-wordpress-starter/__tests__/snapshotTests/example-index.test.jsx
  starters/next-wordpress-starter/__tests__/snapshotTests/homepage.test.jsx
  starters/next-wordpress-starter/__tests__/snapshotTests/pages.test.jsx
  starters/next-wordpress-starter/__tests__/snapshotTests/posts.test.jsx
  starters/next-wordpress-starter/__tests__/snapshotTests/ssg-isr-example.test.jsx
  starters/next-wordpress-starter/lib/Pages.js
  starters/next-wordpress-starter/lib/getUrlPath.js
  starters/next-wordpress-starter/package-lock.json
  starters/next-wordpress-starter/package.json
  starters/next-wordpress-starter/pages/examples/index.jsx
  starters/next-wordpress-starter/pages/examples/ssg-isr.jsx
  starters/next-wordpress-starter/pages/pages/[uri].jsx
  starters/next-wordpress-starter/pages/posts/[slug].jsx
  starters/next-wordpress-starter/pages/posts/index.jsx
  starters/next-wordpress-starter/vite.config.js
Labels: next-wordpress

#291 DB-4070: Refactor wordpress-kit bundle
  .changeset/blue-glasses-fetch.md
  package.json
  packages/wordpress-kit/index.ts
  packages/wordpress-kit/package.json
  packages/wordpress-kit/rollup.config.js
  packages/wordpress-kit/src/lib/GraphqlClientFactory.ts
  packages/wordpress-kit/src/lib/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Constants.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/utilities/Colors.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/utilities/Fonts.ts
  packages/wordpress-kit/src/types/.gitkeep
  packages/wordpress-kit/src/types/TailwindcssPlugin.d.ts
  packages/wordpress-kit/src/types/index.ts
  packages/wordpress-kit/vite.config.js
  pnpm-lock.yaml
Labels: wordpress-kit

#283 Split exit and enter pre mode into two scripts
  .github/scripts/main-publish.sh
  .github/scripts/main-release.sh
  .github/workflows/release-and-split.yml
Labels: decoupled-kit, ci/cd, bugfix

#276 DB-3781: ContentWithImage component
  .changeset/friendly-mugs-sell.md
  packages/nextjs-kit/src/__tests__/data/examplePostData.json
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/contentWithImage.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/contentWithImage.test.tsx
  packages/nextjs-kit/src/components/contentWithImage.tsx
  packages/nextjs-kit/src/components/index.ts
Labels: nextjs-kit

#297 DB-3656: Block Editor Media and Text Block Styles
  .changeset/perfect-dragons-rescue.md
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Constants.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/MediaAndText.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/utilities/Colors.ts
Labels: wordpress-kit

#279 DB-3782: Recipe Component
  .changeset/small-ants-think.md
  packages/nextjs-kit/src/__tests__/data/exampleRecipeData.json
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/recipe.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/recipe.test.tsx
  packages/nextjs-kit/src/components/index.ts
  packages/nextjs-kit/src/components/recipe.tsx
Labels: nextjs-kit

#301 DB-4217: Add tailwindcss prefix
  .changeset/small-eggs-work.md
  packages/nextjs-kit/package.json
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/contentWithImage.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/footer.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/header.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/paginator.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/recipe.test.tsx.snap
  packages/nextjs-kit/src/components/contentWithImage.tsx
  packages/nextjs-kit/src/components/footer.tsx
  packages/nextjs-kit/src/components/header.tsx
  packages/nextjs-kit/src/components/paginator.tsx
  packages/nextjs-kit/src/components/recipe.tsx
  packages/nextjs-kit/tailwind.config.js
  pnpm-lock.yaml
  starters/next-drupal-starter/__tests__/__snapshots__/default/pagination.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/pagination.test.jsx.snap
Labels: nextjs-kit

#294 DB-3824: Document Edge caching
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/setting-cache-control-header.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/setting-cache-control-header.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/your-first-customization.md
Labels: documentation

#293 DB-4071: refactor drupal-kit bundle
  .changeset/wicked-berries-decide.md
  package.json
  packages/drupal-kit/index.ts
  packages/drupal-kit/package.json
  packages/drupal-kit/rollup.config.js
  packages/drupal-kit/src/__tests__/PantheonDrupalState.test.ts
  packages/drupal-kit/src/index.ts
  packages/drupal-kit/src/lib/PantheonDrupalState.ts
  packages/drupal-kit/src/lib/defaultFetch.ts
  packages/drupal-kit/src/lib/index.ts
  packages/drupal-kit/src/lib/utils/__tests__/addSurrogateKeyHeader.test.ts
  packages/drupal-kit/src/lib/utils/addSurrogateKeyHeader.ts
  packages/drupal-kit/src/lib/utils/index.ts
  packages/drupal-kit/src/main.ts
  packages/drupal-kit/src/types/index.ts
  packages/drupal-kit/src/vite-env.d.ts
  packages/drupal-kit/vite.config.js
  packages/wordpress-kit/package.json
  pnpm-lock.yaml
Labels: drupal-kit

#298 DB-3986: Render a gradient instead of the Pantheon logo when there is no featured image
  .changeset/fluffy-peaches-confess.md
  starters/gatsby-wordpress-starter/src/components/grid.jsx
  starters/next-drupal-starter/components/grid.jsx
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/homepage.test.jsx.snap
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/pages.test.jsx.snap
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/posts.test.jsx.snap
  starters/next-wordpress-starter/__tests__/snapshotTests/__snapshots__/ssg-isr-example.test.jsx.snap
  starters/next-wordpress-starter/components/grid.jsx
Labels: next-drupal, gatsby-wordpress, next-wordpress

#304 DB-4062: Block editor button styles
  .changeset/shaggy-walls-talk.md
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Buttons.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/utilities/Colors.ts
Labels: wordpress-kit

#296 Canary Release (canary)
  .changeset/friendly-mugs-sell.md
  .changeset/pre.json
  .changeset/small-ants-think.md
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/nextjs-kit/CHANGELOG.md
  packages/nextjs-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
  starters/gatsby-wordpress-starter/CHANGELOG.md
  starters/gatsby-wordpress-starter/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/package.json
Labels: 🐥 canary release

#305 Canary Release (canary)
  .changeset/pre.json
  packages/nextjs-kit/CHANGELOG.md
  packages/nextjs-kit/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/package.json
Labels: 🐥 canary release

#307 Sprint 32 exit prerelease mode
  .changeset/pre.json
Labels: release

#309 Ignore broken release scritps
  .github/workflows/release-and-split.yml
Labels: bugfix

#310 Update versions
  .changeset/blue-glasses-fetch.md
  .changeset/fluffy-peaches-confess.md
  .changeset/friendly-mugs-sell.md
  .changeset/orange-bees-develop.md
  .changeset/perfect-dragons-rescue.md
  .changeset/perfect-teachers-complain.md
  .changeset/pre.json
  .changeset/rotten-pianos-pay.md
  .changeset/shaggy-walls-talk.md
  .changeset/slow-shirts-worry.md
  .changeset/small-ants-think.md
  .changeset/small-eggs-work.md
  .changeset/sour-beers-shake.md
  .changeset/wet-foxes-matter.md
  .changeset/wicked-berries-decide.md
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/nextjs-kit/CHANGELOG.md
  packages/nextjs-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
  starters/gatsby-wordpress-starter/CHANGELOG.md
  starters/gatsby-wordpress-starter/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/package.json
Labels: release

#312 Enter pre mode
  .changeset/pre.json
  .github/pull_request_template.md
Labels: decoupled-kit

#308 DB-3655: Add file block
  .changeset/swift-years-wait.md
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Buttons.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/FileMedia.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/shared/Button.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/shared/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/index.ts
Labels: wordpress-kit

#315 DB-4070, DB-4071: Fix types for umd bundle
  .changeset/lovely-coins-fly.md
  packages/drupal-kit/package.json
  packages/nextjs-kit/package.json
  packages/wordpress-kit/package.json
Labels: bugfix, drupal-kit, wordpress-kit, nextjs-kit

#302 DB-4081: Publish Docs
  .github/workflows/canary-release.yml
  .github/workflows/canary-sites-split.yml
  .github/workflows/generate-docs.yml
  .github/workflows/release-and-split.yml
  web/docs/Frontend Starters/Gatsby/Gatsby + WordPress/setting-environment-variables.md
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/intro.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/setting-cache-control-header.md
  web/docusaurus.config.js
  web/src/pages/index.js
  web/static/img/B_Fist-Tagline.png
  web/static/img/W_Fist-Tagline.png
  web/static/img/logo.svg
Labels: documentation, ci/cd

#316 DB-4081: Fix CI for docs generation and repo split
  .github/workflows/canary-release.yml
  .github/workflows/canary-sites-split.yml
  .github/workflows/generate-docs.yml
  .github/workflows/release-and-split.yml
Labels: ci/cd, bugfix

#317 DB-4081: Try removing force casing in filenames
  tsconfig.json
Labels: ci/cd, bugfix

#319 DB-3681: Refactor Blocks Styled against WordPress 5 for WordPress 6
  .changeset/big-avocados-clap.md
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Audio.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Buttons.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Cover.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/FileMedia.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Gallery.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Image.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/MediaAndText.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/PullQuote.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Quote.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Table.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/utilities/Colors.ts
Labels: wordpress-kit
