Repository pantheon-systems/decoupled-kit-js, pull requests merged in 2022-08, with the labels that each got.

#193 DB-3466: Add table styles
  .changeset/calm-years-lick.md
  packages/wordpress-kit/src/lib/tailwindCssPlugin/config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin.ts
  packages/wordpress-kit/src/types/tailwindcssPlugin.d.ts
  starters/next-wordpress-starter/components/post.jsx
Labels: next-wordpress

#199 DB-3552: Added alias for common commands, alphabetization.
  package.json
Labels: decoupled-kit

#198 DB-3467: Add table styles
  .changeset/curvy-birds-wink.md
  packages/wordpress-kit/src/lib/tailwindCssPlugin/constants.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin.ts
  packages/wordpress-kit/src/types/tailwindcssPlugin.d.ts
Labels: wordpress-kit

#200 DB-3650: Add image block support
  .changeset/two-poems-approve.md
  packages/wordpress-kit/index.ts
  packages/wordpress-kit/src/lib/TailwindcssPlugin.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Constants.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Image.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/PullQuote.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Quote.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Table.ts
  packages/wordpress-kit/src/types/TailwindcssPlugin.d.ts
Labels: wordpress-kit

#202 DB-3364: next-wp docs & some docs reorg
  starters/gatsby-wordpress-starter/README.md
  web/docs/Frontend Starters/Gatsby/Gatsby + WordPress/intro.md
  web/docs/Frontend Starters/Gatsby/Gatsby + WordPress/setting-environment-variables.md
  web/docs/Frontend Starters/Gatsby/Gatsby + WordPress/your-first-customization.md
  web/docs/Frontend Starters/Next Drupal/intro.md
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/implementing-preview.md
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/setting-environment-variables.md
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/your-first-customization.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/intro.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/setting-environment-variables.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/your-first-customization.md
  web/docs/Frontend Starters/Next.js/static-vs-dynamic.md
  web/docs/Packages/drupal-kit/classes/src_PantheonDrupalState.default.md
  web/docs/Packages/drupal-kit/interfaces/src_types_types.authInit.md
  web/docs/Packages/drupal-kit/modules/src_fetch_defaultFetch.md
  web/docs/Packages/drupal-kit/modules/src_utils_addSurrogateKeyHeader.md
  web/docs/Packages/drupal-kit/modules/src_utils_updateMaxAge.md
  web/docs/Packages/wordpress-kit/classes/src_lib_GraphqlClientFactory.default.md
  web/docs/Packages/wordpress-kit/index.md
  web/docs/Packages/wordpress-kit/modules.md
  web/docs/Packages/wordpress-kit/modules/index.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindCssPlugin_config.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindCssPlugin_constants.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin.md
  web/docs/Packages/wordpress-kit/modules/src_types_tailwindcssPlugin.md
  web/docs/intro.md
Labels: documentation

#201 Changes for DB-3629 - Update Image.src to use the IMAGE_DOMAIN
  .changeset/late-chairs-pump.md
  starters/next-wordpress-starter/components/page.jsx
  starters/next-wordpress-starter/components/post.jsx
  starters/next-wordpress-starter/lib/constants.js
  starters/next-wordpress-starter/lib/getUrlPath.js
  starters/next-wordpress-starter/next.config.js
  starters/next-wordpress-starter/package-lock.json
Labels: next-wordpress

#204 DB-3609: Block Editor Gradients
  .changeset/bright-donuts-shop.md
  packages/wordpress-kit/src/lib/TailwindcssPlugin.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Constants.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Image.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/PullQuote.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Quote.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Table.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/index.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/utilities/Colors.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/utilities/Fonts.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/utilities/index.ts
  packages/wordpress-kit/src/types/TailwindcssPlugin.d.ts
Labels: wordpress-kit

#206 DB-3603: Initialize the nextjs-kit
  .eslintrc
  package.json
  packages/nextjs-kit/.eslintrc
  packages/nextjs-kit/.gitignore
  packages/nextjs-kit/README.md
  packages/nextjs-kit/package.json
  packages/nextjs-kit/rollup.config.js
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/test.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/test.test.tsx
  packages/nextjs-kit/src/__tests__/testLib.test.ts
  packages/nextjs-kit/src/components/test.tsx
  packages/nextjs-kit/src/components/test2.tsx
  packages/nextjs-kit/src/index.ts
  packages/nextjs-kit/src/lib/testLib.ts
  packages/nextjs-kit/tsconfig.json
  packages/nextjs-kit/umd-entrypoint.ts
  packages/nextjs-kit/utils/getFiles.js
  packages/nextjs-kit/vite.config.js
  pnpm-lock.yaml
  tsconfig.json
Labels: nextjs-kit

#211 DB-3597: [next-wordpress] Automatic CMS config
  starters/next-wordpress-starter/next.config.js
Labels: next-wordpress

#210 DB-3651: [next-wordpress] Block Editor Gallery Styles
  .changeset/eight-emus-trade.md
  packages/wordpress-kit/src/lib/TailwindcssPlugin.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Gallery.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/index.ts
Labels: wordpress-kit

#212 DB-3627: Remove DrupalState Context
  .changeset/nasty-rice-taste.md
  starters/next-drupal-starter/README.md
  starters/next-drupal-starter/__tests__/getPaths.test.js
  starters/next-drupal-starter/__tests__/getPreview.test.js
  starters/next-drupal-starter/__tests__/stores.test.js
  starters/next-drupal-starter/lib/getPaths.js
  starters/next-drupal-starter/lib/getPreview.js
  starters/next-drupal-starter/lib/stores.js
  starters/next-drupal-starter/next.config.js
  starters/next-drupal-starter/pages/[...alias].jsx
  starters/next-drupal-starter/pages/_app.jsx
  starters/next-drupal-starter/pages/api/preview.js
  starters/next-drupal-starter/pages/articles/[...slug].jsx
  starters/next-drupal-starter/pages/articles/index.jsx
  starters/next-drupal-starter/pages/examples/auth-api.jsx
  starters/next-drupal-starter/pages/examples/index.jsx
  starters/next-drupal-starter/pages/examples/pagination/[[...page]].jsx
  starters/next-drupal-starter/pages/examples/ssg-isr.jsx
  starters/next-drupal-starter/pages/index.jsx
  starters/next-drupal-starter/pages/pages/[...alias].jsx
  starters/next-drupal-starter/pages/pages/index.jsx
  starters/next-drupal-starter/pages/recipes/[...slug].jsx
  starters/next-drupal-starter/pages/recipes/index.jsx
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/implementing-preview.md
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/your-first-customization.md
Labels: documentation, next-drupal

#217 DB-3593: Fix import
  .changeset/metal-apples-talk.md
  starters/next-drupal-starter/__tests__/__snapshots__/default/auth-api.test.jsx.snap
  starters/next-drupal-starter/__tests__/__snapshots__/umami/auth-api.test.jsx.snap
  starters/next-drupal-starter/pages/examples/auth-api.jsx
Labels: next-drupal, bugfix

#222 db-3187 [next-wordpress] Add Authenticated API to our demo
  .changeset/six-lions-appear.md
  starters/next-wordpress-starter/pages/examples/auth-api.jsx
Labels: next-wordpress

#216 DB-3606: Add header and footer components to nextjs-kit
  packages/nextjs-kit/rollup.config.js
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/footer.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/header.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/test.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/footer.test.tsx
  packages/nextjs-kit/src/__tests__/snapshotTests/header.test.tsx
  packages/nextjs-kit/src/__tests__/snapshotTests/test.test.tsx
  packages/nextjs-kit/src/components/footer.tsx
  packages/nextjs-kit/src/components/header.tsx
  packages/nextjs-kit/src/components/test.tsx
  packages/nextjs-kit/src/components/test2.tsx
  packages/nextjs-kit/src/index.ts
  packages/nextjs-kit/src/types/index.ts
  packages/nextjs-kit/tailwind.config.js
Labels: nextjs-kit

#223 DB-3547: API data sort helper functions
  .changeset/gentle-tools-glow.md
  .changeset/violet-shrimps-act.md
  packages/nextjs-kit/src/__tests__/sortChar.test.ts
  packages/nextjs-kit/src/__tests__/sortDate.test.ts
  packages/nextjs-kit/src/__tests__/testLib.test.ts
  packages/nextjs-kit/src/index.ts
  packages/nextjs-kit/src/lib/sortChar.ts
  packages/nextjs-kit/src/lib/sortDate.ts
  packages/nextjs-kit/src/lib/testLib.ts
  packages/nextjs-kit/src/types/index.ts
  pnpm-lock.yaml
  starters/next-drupal-starter/__tests__/snapshotTests/articles.test.jsx
  starters/next-drupal-starter/__tests__/snapshotTests/homepage.test.jsx
  starters/next-drupal-starter/__tests__/snapshotTests/pages.test.jsx
  starters/next-drupal-starter/__tests__/snapshotTests/recipes.test.jsx
  starters/next-drupal-starter/package.json
  starters/next-drupal-starter/pages/articles/index.jsx
  starters/next-drupal-starter/pages/index.jsx
  starters/next-drupal-starter/pages/pages/index.jsx
  starters/next-drupal-starter/pages/recipes/index.jsx
Labels: nextjs-kit

#225 DB-3766: Update documentation Decoupled Drupal Composer Managed upstream.
  web/docs/Backend Starters/Decoupled Drupal/creating-new-project.md
Labels: documentation

#221 DB-3263: lando setup for decoupled-wordpress-composer-managed.
  web/docs/Backend Starters/Decoupled WordPress/local-development.md
Labels: documentation

#226 DB-3684: Refactor to better align with look and feel of other starter kits
  .changeset/cold-gorillas-speak.md
  starters/gatsby-wordpress-starter/content/assets/.gitkeep
  starters/gatsby-wordpress-starter/content/assets/gatsby-icon.png
  starters/gatsby-wordpress-starter/gatsby-config.js
  starters/gatsby-wordpress-starter/gatsby-node.js
  starters/gatsby-wordpress-starter/src/components/bio.jsx
  starters/gatsby-wordpress-starter/src/components/footer.js
  starters/gatsby-wordpress-starter/src/components/footer.jsx
  starters/gatsby-wordpress-starter/src/components/grid.jsx
  starters/gatsby-wordpress-starter/src/components/layout.js
  starters/gatsby-wordpress-starter/src/components/layout.jsx
  starters/gatsby-wordpress-starter/src/components/page.jsx
  starters/gatsby-wordpress-starter/src/components/post.jsx
  starters/gatsby-wordpress-starter/src/components/seo.jsx
  starters/gatsby-wordpress-starter/src/css/style.css
  starters/gatsby-wordpress-starter/src/pages/404.jsx
  starters/gatsby-wordpress-starter/src/templates/blog-post-archive.js
  starters/gatsby-wordpress-starter/src/templates/blog-post.js
  starters/gatsby-wordpress-starter/src/templates/index.jsx
  starters/gatsby-wordpress-starter/src/templates/page.js
  starters/gatsby-wordpress-starter/src/templates/page.jsx
  starters/gatsby-wordpress-starter/src/templates/pages-index.js
  starters/gatsby-wordpress-starter/src/templates/pagesIndex.jsx
  starters/gatsby-wordpress-starter/src/templates/post.jsx
  starters/gatsby-wordpress-starter/src/templates/postsIndex.jsx
Labels: gatsby-wordpress

#227 DB-3776 [drupal-kit] Update Cache Control Header for SSR Responses
  .changeset/short-crabs-mate.md
  packages/drupal-kit/index.ts
  packages/drupal-kit/src/__tests__/PantheonDrupalState.test.ts
  packages/drupal-kit/src/fetch/defaultFetch.ts
  packages/drupal-kit/src/utils/__tests__/updateMaxAge.test.ts
  packages/drupal-kit/src/utils/updateMaxAge.ts
  web/docs/Packages/drupal-kit/classes/src_PantheonDrupalState.default.md
  web/docs/Packages/drupal-kit/interfaces/src_types_types.authInit.md
  web/docs/Packages/drupal-kit/modules.md
  web/docs/Packages/drupal-kit/modules/index.md
  web/docs/Packages/drupal-kit/modules/src_fetch_defaultFetch.md
  web/docs/Packages/drupal-kit/modules/src_utils_addSurrogateKeyHeader.md
  web/docs/Packages/drupal-kit/modules/src_utils_updateMaxAge.md
  web/docs/Packages/wordpress-kit/classes/src_lib_GraphqlClientFactory.default.md
  web/docs/Packages/wordpress-kit/classes/src_lib_tailwindcssPlugin_utilities_Colors.ColorUtilities.md
  web/docs/Packages/wordpress-kit/classes/src_lib_tailwindcssPlugin_utilities_Fonts.FontsUtilities.md
  web/docs/Packages/wordpress-kit/modules.md
  web/docs/Packages/wordpress-kit/modules/index.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindCssPlugin_config.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindCssPlugin_constants.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin_components.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin_components_Gallery.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin_components_Image.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin_components_PullQuote.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin_components_Quote.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin_components_Table.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin_utilities.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin_utilities_Colors.md
  web/docs/Packages/wordpress-kit/modules/src_lib_tailwindcssPlugin_utilities_Fonts.md
  web/docs/Packages/wordpress-kit/modules/src_types_tailwindcssPlugin.md
Labels: documentation, drupal-kit

#233 DB-3877: [next-wordpress] Fix next wp img domain
  .changeset/eighty-seas-raise.md
  packages/nextjs-kit/src/__tests__/snapshotTests/__snapshots__/footer.test.tsx.snap
  packages/nextjs-kit/src/__tests__/snapshotTests/footer.test.tsx
  packages/wordpress-kit/rollup.config.js
  packages/wordpress-kit/vite.config.js
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/components/footer.jsx
  starters/next-wordpress-starter/components/grid.jsx
  starters/next-wordpress-starter/lib/Menus.js
  starters/next-wordpress-starter/lib/Pages.js
  starters/next-wordpress-starter/lib/Posts.js
  starters/next-wordpress-starter/lib/getUrlPath.js
  starters/next-wordpress-starter/next.config.js
  starters/next-wordpress-starter/pages/examples/auth-api.jsx
  starters/next-wordpress-starter/pages/index.jsx
  starters/next-wordpress-starter/pages/pages/[uri].jsx
  starters/next-wordpress-starter/pages/posts/[slug].jsx
  web/src/components/HomepageFeatures/index.js
Labels: bugfix, next-wordpress

#228 DB-3566: Add helpful error messages when critical env vars are not set
  .changeset/witty-parrots-listen.md
  starters/gatsby-wordpress-starter/README.md
  starters/gatsby-wordpress-starter/gatsby-config.js
  starters/next-drupal-starter/next.config.js
  starters/next-wordpress-starter/next.config.js
Labels: next-drupal, gatsby-wordpress, next-wordpress

#232 DB-3021: Create Lando Template for Drupal local setup.
  web/docs/Backend Starters/Decoupled Drupal/local-development.md
Labels: documentation

#230 DB-1775:Replace gatsby-wordpress-starter css style sheet with tailwind
  .changeset/short-bears-shave.md
  pnpm-lock.yaml
  starters/gatsby-wordpress-starter/gatsby-browser.js
  starters/gatsby-wordpress-starter/gatsby-node.js
  starters/gatsby-wordpress-starter/package-lock.json
  starters/gatsby-wordpress-starter/package.json
  starters/gatsby-wordpress-starter/src/components/bio.jsx
  starters/gatsby-wordpress-starter/src/components/layout.jsx
  starters/gatsby-wordpress-starter/src/components/page.jsx
  starters/gatsby-wordpress-starter/src/components/post.jsx
  starters/gatsby-wordpress-starter/src/css/@wordpress/block-library/build-style/style.css
  starters/gatsby-wordpress-starter/src/css/@wordpress/block-library/build-style/theme.css
  starters/gatsby-wordpress-starter/src/css/normalize.css
  starters/gatsby-wordpress-starter/src/css/style.css
  starters/gatsby-wordpress-starter/src/templates/index.jsx
  starters/gatsby-wordpress-starter/src/templates/page.jsx
  starters/gatsby-wordpress-starter/src/templates/post.jsx
  starters/gatsby-wordpress-starter/src/templates/postsIndex.jsx
  starters/gatsby-wordpress-starter/tailwind.config.js
Labels: gatsby-wordpress

#236 DB-3652: Block Editor Audio Styles
  .changeset/ten-monkeys-remain.md
  packages/wordpress-kit/src/lib/TailwindcssPlugin.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/Config.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/Audio.ts
  packages/wordpress-kit/src/lib/tailwindcssPlugin/components/index.ts
Labels: next-wordpress

#235 DB-3678: Canary releases
  .changeset/pre.json
  .github/workflows/canary-release.yml
  README.md
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/package.json
Labels: decoupled-kit, ci/cd

#239 DB-3678: Fix workflow name
  .github/workflows/canary-sites-split.yml
Labels: decoupled-kit, ci/cd, bugfix

#237 Canary Release (canary)
  .changeset/pre.json
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/nextjs-kit/CHANGELOG.md
  packages/nextjs-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
  starters/gatsby-wordpress-starter/CHANGELOG.md
  starters/gatsby-wordpress-starter/package.json
  starters/next-drupal-starter/CHANGELOG.md
  starters/next-drupal-starter/package.json
  starters/next-wordpress-starter/CHANGELOG.md
  starters/next-wordpress-starter/package.json
Labels: 🐥 canary release
