Repository pantheon-systems/decoupled-kit-js, pull requests merged in 2023-07, with the labels that each got.

#762 DB-6331: Move `setOutgoingHeaders` to `wordpress-kit`
  .changeset/angry-hairs-talk.md
  .changeset/short-balloons-battle.md
  package.json
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/lib/setOutgoingHeaders.js
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/next.config.js
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/examples/auth-api.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/examples/index.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/examples/pagination/[[...page]].jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/index.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/pages/index.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/posts/index.jsx
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-wp/nextWpPageView.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-wp/nextWpPostView.hbs
  packages/wordpress-kit/__mocks__/server/basicPostsQuery.ts
  packages/wordpress-kit/__tests__/setOutgoingheaders.test.ts
  packages/wordpress-kit/src/index.ts
  packages/wordpress-kit/src/lib/setOutgoingHeaders.ts
  pnpm-lock.yaml
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/surrogate-key-based-caching.md
Labels: documentation, wordpress-kit, cli-templates

#764 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
Labels: 🐥 canary release

#756 DB-6179 App Directory Root Layout with `<Footer />`
  .changeset/short-lobsters-prove.md
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/app/globals.css
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/app/layout.tsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/gitignore
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/next.config.js
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/package.json.hbs
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/package.json.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/public/favicon.ico
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/public/next.svg
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/public/vercel.svg
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/scripts/get-locales.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/src/app/[lang]/globals.css
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/src/app/[lang]/layout.module.css
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/src/app/[lang]/layout.tsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/src/app/[lang]/page.module.css
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/src/app/[lang]/page.tsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/src/env.d.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/src/lib/stores.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-app/src/middleware.ts
Labels: next-drupal, cli, cli-templates

#766 DB-6331: Pin starters to `next@13.4.7`
  .changeset/few-points-cough.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/package.json.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/nextDrupalPkgJson.hbs
Labels: next-drupal, next-wordpress, cli-templates

#767 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
Labels: 🐥 canary release

#765 DB-5777: developer docs for terminus-decoupled-kit plugin
  web/docs/Backend Starters/terminus-decoupled-kit-plugin.md
Labels: documentation

#768 Exit pre-release mode for sprint 13
  .changeset/pre.json
Labels: release

#770 Sprint 13 Release - Canary -> Main
  .changeset/angry-hairs-talk.md
  .changeset/few-points-cough.md
  .changeset/healthy-numbers-judge.md
  .changeset/lucky-socks-attend.md
  .changeset/pre.json
  .changeset/rotten-hotels-provide.md
  .changeset/short-balloons-battle.md
  package.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/lib/setOutgoingHeaders.js
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/next.config.js
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/package.json.hbs
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/examples/auth-api.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/examples/index.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/examples/pagination/[[...page]].jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/index.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/pages/index.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/posts/index.jsx
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/nextDrupalPkgJson.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-wp/nextWpPageView.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-wp/nextWpPostView.hbs
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/drupal-kit/src/lib/PantheonDrupalState.ts
  packages/nextjs-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/__mocks__/server/basicPostsQuery.ts
  packages/wordpress-kit/__tests__/setOutgoingheaders.test.ts
  packages/wordpress-kit/package.json
  packages/wordpress-kit/src/index.ts
  packages/wordpress-kit/src/lib/setOutgoingHeaders.ts
  pnpm-lock.yaml
  scripts/check-built.ts
  scripts/post-install
  web/docs/Backend Starters/terminus-decoupled-kit-plugin.md
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/surrogate-key-based-caching.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/surrogate-key-based-caching.md
Labels: release

#772 Sprint 13 Backmerge Main -> Canary
  .changeset/angry-hairs-talk.md
  .changeset/few-points-cough.md
  .changeset/healthy-numbers-judge.md
  .changeset/lucky-socks-attend.md
  .changeset/pre.json
  .changeset/rotten-hotels-provide.md
  .changeset/short-balloons-battle.md
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
Labels: release

#773 Enter pre-release for sprint 14
  .changeset/pre.json
Labels: release

#774 DB-6269: Drupal health check script
  .changeset/quiet-pugs-rhyme.md
  packages/decoupled-kit-health-check/.eslintrc
  packages/decoupled-kit-health-check/.gitignore
  packages/decoupled-kit-health-check/README.md
  packages/decoupled-kit-health-check/__mocks__/server/drupal/requestHandlers.ts
  packages/decoupled-kit-health-check/__mocks__/server/index.ts
  packages/decoupled-kit-health-check/__tests__/checkAuthentication.test.ts
  packages/decoupled-kit-health-check/__tests__/checkCMSEndpoint.test.ts
  packages/decoupled-kit-health-check/__tests__/checkCMSEnvVars.test.ts
  packages/decoupled-kit-health-check/__tests__/checkDecoupledRouter.test.ts
  packages/decoupled-kit-health-check/__tests__/checkLanguageSettings.test.ts
  packages/decoupled-kit-health-check/__tests__/checkMenuItemEndpoint.test.ts
  packages/decoupled-kit-health-check/__tests__/checkPreviewEndpoint.test.ts
  packages/decoupled-kit-health-check/__tests__/fixtures/dotenv/.env
  packages/decoupled-kit-health-check/__tests__/fixtures/dotenvDev/.env.development.local
  packages/decoupled-kit-health-check/__tests__/fixtures/noDotenv/.gitkeep
  packages/decoupled-kit-health-check/__tests__/resolveDotenvFile.test.ts
  packages/decoupled-kit-health-check/__tests__/setupFile.ts
  packages/decoupled-kit-health-check/esbuild.mjs
  packages/decoupled-kit-health-check/lint-staged.config.cjs
  packages/decoupled-kit-health-check/package.json
  packages/decoupled-kit-health-check/src/bin.ts
  packages/decoupled-kit-health-check/src/errors.ts
  packages/decoupled-kit-health-check/src/utils/checkAuthentication.ts
  packages/decoupled-kit-health-check/src/utils/checkCMSEndpoint.ts
  packages/decoupled-kit-health-check/src/utils/checkCMSEnvVars.ts
  packages/decoupled-kit-health-check/src/utils/checkDecoupledRouter.ts
  packages/decoupled-kit-health-check/src/utils/checkLanguageSettings.ts
  packages/decoupled-kit-health-check/src/utils/checkMenuItemEndpoint.ts
  packages/decoupled-kit-health-check/src/utils/checkPreviewEndpoint.ts
  packages/decoupled-kit-health-check/src/utils/checkPreviewSecret.ts
  packages/decoupled-kit-health-check/src/utils/isEndpointValid.ts
  packages/decoupled-kit-health-check/src/utils/logger.ts
  packages/decoupled-kit-health-check/src/utils/resolveDotenvFile.ts
  packages/decoupled-kit-health-check/tsconfig.json
  packages/decoupled-kit-health-check/vite.config.ts
  pnpm-lock.yaml
Labels: next-drupal, health-check

#769 Canary Release (canary)
  .changeset/pre.json
  packages/decoupled-kit-health-check/CHANGELOG.md
  packages/decoupled-kit-health-check/package.json
Labels: 🐥 canary release

#777 DB-6269: Fix missing https in `PANTHEON_CMS_ENDPOINT`
  .changeset/blue-trainers-knock.md
  .changeset/grumpy-lamps-act.md
  packages/decoupled-kit-health-check/src/bin.ts
Labels: bugfix, health-check

#779 DB-6540: `next-wp` health check script
  .changeset/fifty-pants-peel.md
  .changeset/nervous-peas-suffer.md
  package.json
  packages/create-pantheon-decoupled-kit/src/generators/next-wp.generator.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/README.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/README.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/package.json.hbs
  packages/decoupled-kit-health-check/.gitignore
  packages/decoupled-kit-health-check/README.md
  packages/decoupled-kit-health-check/__mocks__/server/index.ts
  packages/decoupled-kit-health-check/__mocks__/server/wordpress/requestHandlers.ts
  packages/decoupled-kit-health-check/__tests__/checkAuthentication.test.ts
  packages/decoupled-kit-health-check/__tests__/checkCMSEndpoint.test.ts
  packages/decoupled-kit-health-check/__tests__/checkCMSEnvVars.test.ts
  packages/decoupled-kit-health-check/__tests__/checkMenuItemEndpoint.test.ts
  packages/decoupled-kit-health-check/__tests__/checkPreviewEndpoint.test.ts
  packages/decoupled-kit-health-check/src/bin.ts
  packages/decoupled-kit-health-check/src/errors.ts
  packages/decoupled-kit-health-check/src/next-drupal.ts
  packages/decoupled-kit-health-check/src/next-wp.ts
  packages/decoupled-kit-health-check/src/utils/checkAuthentication.ts
  packages/decoupled-kit-health-check/src/utils/checkCMSEndpoint.ts
  packages/decoupled-kit-health-check/src/utils/checkCMSEnvVars.ts
  packages/decoupled-kit-health-check/src/utils/checkDecoupledRouter.ts
  packages/decoupled-kit-health-check/src/utils/checkLanguageSettings.ts
  packages/decoupled-kit-health-check/src/utils/checkMenuItemEndpoint.ts
  packages/decoupled-kit-health-check/src/utils/checkPreviewEndpoint.ts
  packages/decoupled-kit-health-check/src/utils/getFramework.ts
  packages/decoupled-kit-health-check/src/utils/isEndpointValid.ts
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/troubleshooting.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/troubleshooting.md
Labels: next-wordpress, cli-templates, health-check

#783 Fix next-wp package.json
  .changeset/thirty-ligers-rule.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/package.json.hbs
Labels: bugfix, next-wordpress, cli-templates

#784 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
Labels: 🐥 canary release

#785 DB-6450: Ensure endpoint ends with `/wp/graphql`
  .changeset/cool-worms-drive.md
  .changeset/plenty-pillows-drop.md
  packages/decoupled-kit-health-check/src/next-wp.ts
Labels: cli-templates, health-check

#787 DB-4444: [next-drupal] preview route test option
  .changeset/weak-papayas-cheat.md
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/pages/api/preview.js
Labels: next-drupal, cli-templates

#789 DB-6463: [next-wp] preview test option
  .changeset/tender-mayflies-notice.md
  .changeset/weak-papayas-cheat.md
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/pages/api/preview.js
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/api/preview.js
Labels: next-wordpress, cli-templates

#788 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
Labels: 🐥 canary release

#790 refactor: Use classes for better readability and extensibility
  .changeset/nervous-cats-flow.md
  packages/decoupled-kit-health-check/__mocks__/server/wordpress/requestHandlers.ts
  packages/decoupled-kit-health-check/__tests__/NextDrupalHealthCheck.test.ts
  packages/decoupled-kit-health-check/__tests__/NextWordPressHealthCheck.test.ts
  packages/decoupled-kit-health-check/__tests__/__snapshots__/NextDrupalHealthCheck.test.ts.snap
  packages/decoupled-kit-health-check/__tests__/__snapshots__/NextWordPressHealthCheck.test.ts.snap
  packages/decoupled-kit-health-check/__tests__/checkAuthentication.test.ts
  packages/decoupled-kit-health-check/__tests__/checkCMSEndpoint.test.ts
  packages/decoupled-kit-health-check/__tests__/checkCMSEnvVars.test.ts
  packages/decoupled-kit-health-check/__tests__/checkDecoupledRouter.test.ts
  packages/decoupled-kit-health-check/__tests__/checkLanguageSettings.test.ts
  packages/decoupled-kit-health-check/__tests__/checkMenuItemEndpoint.test.ts
  packages/decoupled-kit-health-check/__tests__/checkPreviewEndpoint.test.ts
  packages/decoupled-kit-health-check/__tests__/vitest.d.ts
  packages/decoupled-kit-health-check/package.json
  packages/decoupled-kit-health-check/src/bin.ts
  packages/decoupled-kit-health-check/src/classes/HealthCheckBase.ts
  packages/decoupled-kit-health-check/src/classes/NextDrupalHealthCheck.ts
  packages/decoupled-kit-health-check/src/classes/NextWordPressHealthCheck.ts
  packages/decoupled-kit-health-check/src/classes/errors.ts
  packages/decoupled-kit-health-check/src/next-drupal.ts
  packages/decoupled-kit-health-check/src/next-wp.ts
  packages/decoupled-kit-health-check/src/utils/checkAuthentication.ts
  packages/decoupled-kit-health-check/src/utils/checkCMSEndpoint.ts
  packages/decoupled-kit-health-check/src/utils/checkCMSEnvVars.ts
  packages/decoupled-kit-health-check/src/utils/checkDecoupledRouter.ts
  packages/decoupled-kit-health-check/src/utils/checkLanguageSettings.ts
  packages/decoupled-kit-health-check/src/utils/checkMenuItemEndpoint.ts
  packages/decoupled-kit-health-check/src/utils/checkPreviewEndpoint.ts
  packages/decoupled-kit-health-check/src/utils/checkPreviewSecret.ts
  packages/decoupled-kit-health-check/src/utils/isEndpointValid.ts
  packages/decoupled-kit-health-check/src/utils/logger.ts
  packages/decoupled-kit-health-check/src/utils/resolveDotenvFile.ts
  packages/decoupled-kit-health-check/tsconfig.json
Labels: health-check

#793 DB-6577: Upgrade tooling dependencies
  configs/eslint/index.js
  configs/eslint/package.json
  configs/package.json
  package.json
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp-acf-addon/src/templates/post.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/__tests__/snapshotTests/homepage.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/search-input.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/getPaths.test.js
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/getPreview.test.js
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/setupFile.js
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/snapshotTests/[...alias].test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/snapshotTests/articles.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/snapshotTests/examples-index.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/snapshotTests/homepage.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/snapshotTests/pages.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/snapshotTests/recipes.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/__tests__/snapshotTests/ssr-isr-example.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/__tests__/getPaths.test.js
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/__tests__/snapshotTests/[...alias].test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/__tests__/snapshotTests/articles.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/__tests__/snapshotTests/examples-index.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/__tests__/snapshotTests/homepage.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/__tests__/snapshotTests/pages.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/__tests__/snapshotTests/ssr-isr-example.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/pages/articles/[...slug].jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/scripts/get-locales.js
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/__tests__/snapshotTests/homepage.test.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/lib/WordPressClient.js
  packages/drupal-kit/package.json
  packages/wordpress-kit/package.json
  packages/wordpress-kit/src/tailwindcssPlugin/index.ts
  pnpm-lock.yaml
Labels: decoupled-kit, dependencies

#791 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/decoupled-kit-health-check/CHANGELOG.md
  packages/decoupled-kit-health-check/package.json
Labels: 🐥 canary release

#796 DB-6542: Fix gatsby-config, use new template for .env.development.local
  .changeset/healthy-brooms-camp.md
  packages/create-pantheon-decoupled-kit/esbuild.js
  packages/create-pantheon-decoupled-kit/lint-staged.config.cjs
  packages/create-pantheon-decoupled-kit/package.json
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/.env.development.local.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/.env.development.local.ts
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/gatsby-config.ts.ts
  packages/create-pantheon-decoupled-kit/src/types.ts
  packages/create-pantheon-decoupled-kit/src/utils/constants.ts
Labels: gatsby-wordpress, bugfix, cli

#799 DB-6451: [gatsby-wp] Add health-check to gatsby starter
  .changeset/little-feet-drop.md
  .changeset/nervous-peas-suffer.md
  .changeset/spicy-schools-love.md
  packages/create-pantheon-decoupled-kit/__tests__/index.test.ts
  packages/create-pantheon-decoupled-kit/src/generators/gatsby-wp.generator.ts
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/package.json.ts
Labels: gatsby-wordpress, cli-templates

#800 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/decoupled-kit-health-check/CHANGELOG.md
  packages/decoupled-kit-health-check/package.json
Labels: 🐥 canary release

#801 [dkhc] Support node >=14
  .changeset/big-points-sniff.md
  .changeset/long-ducks-scream.md
  packages/decoupled-kit-health-check/package.json
  packages/decoupled-kit-health-check/src/bin.ts
  pnpm-lock.yaml
Labels: health-check

#802 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/decoupled-kit-health-check/CHANGELOG.md
  packages/decoupled-kit-health-check/package.json
Labels: 🐥 canary release

#803 [dkhc] Ensure env vars are loaded in non-prod envs
  .changeset/calm-rings-shake.md
  .changeset/young-bats-collect.md
  packages/decoupled-kit-health-check/__tests__/__snapshots__/GatsbyWordPressHealthCheck.test.ts.snap
  packages/decoupled-kit-health-check/__tests__/__snapshots__/NextDrupalHealthCheck.test.ts.snap
  packages/decoupled-kit-health-check/__tests__/__snapshots__/NextWordPressHealthCheck.test.ts.snap
  packages/decoupled-kit-health-check/src/classes/GatsbyWordPressHealthCheck.ts
  packages/decoupled-kit-health-check/src/classes/NextDrupalHealthCheck.ts
  packages/decoupled-kit-health-check/src/classes/NextWordPressHealthCheck.ts
Labels: health-check

#804 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/decoupled-kit-health-check/CHANGELOG.md
  packages/decoupled-kit-health-check/package.json
Labels: 🐥 canary release

#807 DB-6549: [next-wp-search-api-addon] Search Results Page
  .changeset/funny-papayas-sip.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp-search-api-addon/pages/search/[[...searchAlias]].jsx
Labels: next-wordpress, cli-addon, cli-templates

#808 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
Labels: 🐥 canary release

#805 DB-6265: [next-drupal] pagination example fails gracefully
  .changeset/calm-apricots-relate.md
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/pages/examples/pagination/[[...page]].jsx
  packages/create-pantheon-decoupled-kit/src/templates/tailwindless-next/pages/examples/pagination/pagination.module.css
Labels: next-drupal, cli-templates

#811 Revert next-wp-search addon
  .changeset/funny-papayas-sip.md
  .changeset/good-apples-wonder.md
  .vscode/extensions.json
  packages/create-pantheon-decoupled-kit/src/generators/index.ts
  packages/create-pantheon-decoupled-kit/src/generators/next-drupal-search-api-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/generators/next-wp-search-api-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/index.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/layout.jsx.hbs
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/layout.jsx.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/search-input.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/search-input.jsx.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/searchInput.module.css
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/searchInput.module.css.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/components/layout.jsx.hbs
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/components/layout.jsx.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-wp-search-api-addon/components/layout.jsx.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-wp-search-api-addon/components/search-input.jsx.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-wp-search-api-addon/components/searchInput.module.css.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-wp-search-api-addon/pages/search/[[...searchAlias]].jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/components/layout.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/components/layout.jsx.ts
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/nextDrupalLayout.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/nextjs-shared/layout.ts
  packages/create-pantheon-decoupled-kit/src/templates/partials/nextjs-shared/nextjsLayoutCSS.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/nextjs-shared/searchInputCSSModules.ts
  packages/create-pantheon-decoupled-kit/src/templates/tailwindless-next/components/layout.module.css.hbs
  packages/create-pantheon-decoupled-kit/src/templates/tailwindless-next/components/layout.module.css.ts
  packages/create-pantheon-decoupled-kit/src/types.ts
Labels: next-wordpress, cli, cli-addon

#810 DB-6587: [next-wp] pagination fails gracefully
  .changeset/cool-olives-speak.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/examples/pagination/[[...page]].jsx
Labels: next-wordpress, cli-templates
