Repository pantheon-systems/decoupled-kit-js, pull requests merged in 2023-05, with the labels that each got.

#660 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
Labels: 🐥 canary release

#661 DB-5692: Refactor `cms-kit` bundle
  .changeset/quick-dancers-cover.md
  packages/cms-kit/.eslintrc
  packages/cms-kit/__tests__/setSurrogateKeyHeader.test.ts
  packages/cms-kit/index.ts
  packages/cms-kit/lint-staged.config.cjs
  packages/cms-kit/package.json
  packages/cms-kit/src/index.ts
  packages/cms-kit/src/lib/setSurrogateKeyHeader.ts
  packages/cms-kit/src/utils/index.ts
  packages/cms-kit/tsconfig.build.json
  packages/cms-kit/tsconfig.json
  packages/cms-kit/tsup.config.ts
  packages/cms-kit/vite.config.js
  pnpm-lock.yaml
  tsconfig.json
  web/package.json
Labels: cms-kit

#665 DB-6013: Update `setSurrogateKeyHeader` and `drupal-kit` `defaultFetch`
  .changeset/blue-needles-sit.md
  .changeset/mean-falcons-destroy.md
  .changeset/small-feet-camp.md
  packages/cms-kit/__tests__/setSurrogateKeyHeader.test.ts
  packages/cms-kit/src/utils/setSurrogateKeyHeader.ts
  packages/cms-kit/vite.config.js
  packages/drupal-kit/src/lib/defaultFetch.ts
Labels: drupal-kit, cms-kit

#666 DB-6014: `wordpress-kit` hashed surrogate keys
  .changeset/curly-spoons-yell.md
  .changeset/silly-pots-arrive.md
  .prettierignore
  packages/cms-kit/__tests__/setSurrogateKeyHeader.test.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/lib/setOutgoingHeaders.js
  packages/wordpress-kit/__mocks__/server/basicPostsQuery.ts
  packages/wordpress-kit/__tests__/GraphqlClientFactory.test.ts
  packages/wordpress-kit/src/lib/graphqlClient/GraphqlClientFactory.ts
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/surrogate-key-based-caching.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/surrogate-key-based-caching.md
Labels: wordpress-kit, cli-templates

#667 Canary Release (canary)
  .changeset/pre.json
  packages/cms-kit/CHANGELOG.md
  packages/cms-kit/package.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
Labels: 🐥 canary release

#669 Exit pre-release mode for sprint 9
  .changeset/pre.json
Labels: release

#671 Sprint 9 Release: Canary -> main
  .changeset/blue-needles-sit.md
  .changeset/curly-spoons-yell.md
  .changeset/cyan-colts-lay.md
  .changeset/large-tips-crash.md
  .changeset/mean-falcons-destroy.md
  .changeset/orange-bears-tease.md
  .changeset/pre.json
  .changeset/silly-pots-arrive.md
  .changeset/small-feet-camp.md
  .changeset/smooth-bees-pretend.md
  .prettierignore
  packages/cms-kit/CHANGELOG.md
  packages/cms-kit/__tests__/setSurrogateKeyHeader.test.ts
  packages/cms-kit/package.json
  packages/cms-kit/src/utils/setSurrogateKeyHeader.ts
  packages/cms-kit/vite.config.js
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/README.md
  packages/create-pantheon-decoupled-kit/__tests__/index.test.ts
  packages/create-pantheon-decoupled-kit/package.json
  packages/create-pantheon-decoupled-kit/src/generators/gatsby-wp-acf-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/generators/gatsby-wp.generator.ts
  packages/create-pantheon-decoupled-kit/src/generators/next-drupal-search-api-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/generators/next-drupal-umami-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/generators/next-drupal.generator.ts
  packages/create-pantheon-decoupled-kit/src/generators/next-wp-acf-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/generators/next-wp.generator.ts
  packages/create-pantheon-decoupled-kit/src/generators/tailwindcss-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/index.ts
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/package.json.hbs
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/search-input.jsx.hbs
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/pages/search/[[...alias]].jsx.hbs
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/lib/setOutgoingHeaders.js
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/package.json.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/nextDrupalLayout.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/nextjs-shared/nextjsLayoutCSS.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/pkg-shared/tailwindcssDeps.hbs
  packages/create-pantheon-decoupled-kit/src/templates/tailwindless-drupal-search-api-addon/components/searchInput.module.css
  packages/create-pantheon-decoupled-kit/src/templates/tailwindless-drupal-search-api-addon/pages/search/searchPage.module.css
  packages/create-pantheon-decoupled-kit/src/types.ts
  packages/create-pantheon-decoupled-kit/src/utils/helpMenu.ts
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/drupal-kit/src/lib/defaultFetch.ts
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/__mocks__/server/basicPostsQuery.ts
  packages/wordpress-kit/__tests__/GraphqlClientFactory.test.ts
  packages/wordpress-kit/package.json
  packages/wordpress-kit/src/lib/graphqlClient/GraphqlClientFactory.ts
  pnpm-lock.yaml
  web/docs/Frontend Starters/Next.js/Next.js + Drupal/surrogate-key-based-caching.md
  web/docs/Frontend Starters/Next.js/Next.js + WordPress/surrogate-key-based-caching.md
  web/docs/decoupled-kit-overview.md
Labels: release

#673 Sprint 9 - Backmerge main -> canary
  .changeset/blue-needles-sit.md
  .changeset/curly-spoons-yell.md
  .changeset/cyan-colts-lay.md
  .changeset/large-tips-crash.md
  .changeset/mean-falcons-destroy.md
  .changeset/orange-bears-tease.md
  .changeset/pre.json
  .changeset/silly-pots-arrive.md
  .changeset/small-feet-camp.md
  .changeset/smooth-bees-pretend.md
  packages/cms-kit/CHANGELOG.md
  packages/cms-kit/package.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
Labels: release

#674 Enter pre-release more for sprint 10
  .changeset/pre.json
Labels: release

#663 DB-5950: `convertCssModules` Action
  .changeset/strong-knives-return.md
  packages/create-pantheon-decoupled-kit/__tests__/convertCSSModules.test.ts
  packages/create-pantheon-decoupled-kit/__tests__/fixtures/convertCSSModules/empty/components/component.ts
  packages/create-pantheon-decoupled-kit/__tests__/fixtures/convertCSSModules/empty/pages/page.ts
  packages/create-pantheon-decoupled-kit/package.json
  packages/create-pantheon-decoupled-kit/src/actions/convertCSSModules.ts
  packages/create-pantheon-decoupled-kit/src/actions/index.ts
  packages/create-pantheon-decoupled-kit/src/generators/next-drupal-search-api-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/generators/next-drupal.generator.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/search-input.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/components/searchInput.module.css
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/pages/search/[[...searchAlias]].jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-search-api-addon/pages/search/searchPage.module.css
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/package.json.hbs
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/styles/globals.css
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/styles/globals.css.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/nextDrupalPkgJson.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/pkg-shared/tailwindcssDeps.hbs
  packages/create-pantheon-decoupled-kit/src/templates/styles/variables.css
  packages/create-pantheon-decoupled-kit/src/templates/tailwind-shared/postcss.config.cjs
  packages/create-pantheon-decoupled-kit/src/templates/tailwind-shared/postcss.config.cjs.hbs
  pnpm-lock.yaml
Labels: cli, cli-addon, cli-base

#668 DB-5692: Replace `jest` with `vitest`
  .changeset/good-eels-kick.md
  .changeset/loud-pumpkins-switch.md
  packages/drupal-kit/.gitignore
  packages/drupal-kit/__mocks__/server/drupalStateResponseHandlers.ts
  packages/drupal-kit/__mocks__/server/getDrupalSearchResultsResponseHandlers.ts
  packages/drupal-kit/__mocks__/server/index.ts
  packages/drupal-kit/__tests__/PantheonDrupalState.test.ts
  packages/drupal-kit/__tests__/data/apiIndex.json
  packages/drupal-kit/__tests__/data/collection.json
  packages/drupal-kit/__tests__/data/exampleSearchResultsAltIndex.json
  packages/drupal-kit/__tests__/data/exampleSearchResultsDefaultIndex.json
  packages/drupal-kit/__tests__/data/recipesCollectionObject1.json
  packages/drupal-kit/__tests__/data/recipesCollectionObject1WithParams.json
  packages/drupal-kit/__tests__/data/recipesResourceData.json
  packages/drupal-kit/__tests__/data/recipesResourceData1.json
  packages/drupal-kit/__tests__/data/recipesResourceData1WithParams.json
  packages/drupal-kit/__tests__/data/recipesResourceObject.json
  packages/drupal-kit/__tests__/data/recipesResourceObject1.json
  packages/drupal-kit/__tests__/data/token.json
  packages/drupal-kit/__tests__/getDrupalSearchResults.test.ts
  packages/drupal-kit/__tests__/setupFile.ts
  packages/drupal-kit/favicon.svg
  packages/drupal-kit/index.html
  packages/drupal-kit/index.ts
  packages/drupal-kit/jest.config.js
  packages/drupal-kit/package.json
  packages/drupal-kit/src/__tests__/PantheonDrupalState.test.ts
  packages/drupal-kit/src/__tests__/data/apiIndex.json
  packages/drupal-kit/src/index.ts
  packages/drupal-kit/src/lib/PantheonDrupalState.ts
  packages/drupal-kit/src/lib/defaultFetch.ts
  packages/drupal-kit/src/lib/getDrupalSearchResults.ts
  packages/drupal-kit/src/lib/index.ts
  packages/drupal-kit/src/main.ts
  packages/drupal-kit/src/style.css
  packages/drupal-kit/src/types.ts
  packages/drupal-kit/tsconfig.build.json
  packages/drupal-kit/tsconfig.json
  packages/drupal-kit/vite.config.js
  pnpm-lock.yaml
Labels: drupal-kit

#670 Canary Release (canary)
  .changeset/pre.json
  packages/cms-kit/CHANGELOG.md
  packages/cms-kit/package.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
Labels: 🐥 canary release

#676 Move required deps to dependencies from devDeps
  .changeset/twelve-hats-grin.md
  packages/create-pantheon-decoupled-kit/package.json
  pnpm-lock.yaml
Labels: dependencies, bugfix, cli

#678 Fix wordpress-kit exports
  .changeset/thick-hotels-check.md
  .changeset/tidy-rocks-brake.md
  packages/wordpress-kit/package.json
  packages/wordpress-kit/src/tailwindcssPlugin/index.ts
  packages/wordpress-kit/vite.config.js
Labels: bugfix, wordpress-kit

#679 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
Labels: 🐥 canary release

#680 DB-6036: [gatsby-wp] Use css modules for default stying
  .changeset/old-maps-agree.md
  .changeset/thirty-walls-joke.md
  .github/workflows/canary-sites-split.yml
  .github/workflows/release-and-split.yml
  .prettierignore
  .vscode/settings.json
  configs/eslint/index.js
  configs/eslint/react.js
  packages/configs/eslint/.eslintrc
  packages/configs/eslint/index.js
  packages/configs/eslint/react.js
  packages/configs/eslint/tsconfig.json
  packages/create-pantheon-decoupled-kit/.eslintrc
  packages/create-pantheon-decoupled-kit/__tests__/actionRunner.test.ts
  packages/create-pantheon-decoupled-kit/__tests__/convertCSSModules.test.ts
  packages/create-pantheon-decoupled-kit/esbuild.js
  packages/create-pantheon-decoupled-kit/src/actions/convertCSSModules.ts
  packages/create-pantheon-decoupled-kit/src/bin.ts
  packages/create-pantheon-decoupled-kit/src/generators/gatsby-wp.generator.ts
  packages/create-pantheon-decoupled-kit/src/index.ts
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/.eslintrc
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/gatsby-config.js.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/footer.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/footer.jsx.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/footer.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/grid.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/grid.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/layout.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/layout.jsx.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/layout.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/page.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/page.jsx.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/page.module.css.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/paginator.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/paginator.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/post.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/post.jsx.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/post.module.css.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/seo.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/css/style.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/pages/404.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/pages/404.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/authApi.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/authApi.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/examples.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/examples.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/index.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/index.jsx.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/index.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/page.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/pagesIndex.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/pagesOrPostsIndex.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/pagination.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/pagination.module.css
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/post.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/templates/postsIndex.jsx
  packages/create-pantheon-decoupled-kit/src/templates/partials/pkg-shared/tailwindcssDeps.hbs
  packages/create-pantheon-decoupled-kit/src/templates/tailwind-shared/postcss.config.cjs.hbs
  packages/create-pantheon-decoupled-kit/src/templates/tailwindless-gatsby/src/css/style.css
  packages/create-pantheon-decoupled-kit/src/utils/actionRunner.ts
Labels: gatsby-wordpress, cli

#681 Canary Release (canary)
  .changeset/pre.json
  configs/eslint/CHANGELOG.md
  configs/eslint/package.json
  packages/cms-kit/package.json
  packages/configs/eslint/package.json
  packages/configs/other/package.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/drupal-kit/package.json
  packages/nextjs-kit/package.json
  packages/wordpress-kit/package.json
Labels: 🐥 canary release

#682 Fix missing next-wp styles
  .changeset/ninety-cooks-melt.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/styles/globals.css.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/nextjs-shared/nextjsGridCSS.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/nextjs-shared/nextjsLayoutCSS.hbs
Labels: bugfix, cli-templates

#684 DB-6039: [gatsby-wp-acf-addon] Use css modules by default
  .changeset/strange-shrimps-learn.md
  packages/create-pantheon-decoupled-kit/.eslintrc
  packages/create-pantheon-decoupled-kit/src/actions/convertCSSModules.ts
  packages/create-pantheon-decoupled-kit/src/generators/gatsby-wp-acf-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp-acf-addon/src/templates/post.jsx
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp-acf-addon/src/templates/post.module.css.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/page.module.css.hbs
  packages/create-pantheon-decoupled-kit/src/templates/gatsby-wp/src/components/post.module.css.hbs
Labels: cli-templates

#685 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
Labels: 🐥 canary release

#687 Revert canary release of eslint-config, add changeset for proper package
  .changeset/four-foxes-check.md
  configs/eslint/CHANGELOG.md
  configs/eslint/package.json
  packages/cms-kit/package.json
  packages/configs/eslint/package.json
  packages/configs/other/package.json
  packages/create-pantheon-decoupled-kit/package.json
  packages/drupal-kit/package.json
  packages/nextjs-kit/package.json
  packages/wordpress-kit/package.json
Labels: decoupled-kit, bugfix

#690 Canary Release (canary)
  .changeset/pre.json
  packages/configs/eslint/CHANGELOG.md
  packages/configs/eslint/package.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
Labels: 🐥 canary release

#688 DB-5692: Fix typos in `drupal-kit` package.json
  .changeset/metal-hornets-prove.md
  .changeset/twelve-kids-fix.md
  packages/drupal-kit/package.json
Labels: bugfix, drupal-kit

#689 DB-5692: nextjs-kit bundle and structure refinements
  .changeset/curvy-buckets-juggle.md
  .changeset/fast-days-accept.md
  packages/nextjs-kit/__tests__/data/exampleGridData.json
  packages/nextjs-kit/__tests__/data/examplePaginationData.json
  packages/nextjs-kit/__tests__/data/examplePostData.json
  packages/nextjs-kit/__tests__/data/exampleRecipeData.json
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/contentWithImage.test.tsx.snap
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/footer.test.tsx.snap
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/grid.test.tsx.snap
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/header.test.tsx.snap
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/paginator.test.tsx.snap
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/recipe.test.tsx.snap
  packages/nextjs-kit/__tests__/snapshotTests/contentWithImage.test.tsx
  packages/nextjs-kit/__tests__/snapshotTests/footer.test.tsx
  packages/nextjs-kit/__tests__/snapshotTests/grid.test.tsx
  packages/nextjs-kit/__tests__/snapshotTests/header.test.tsx
  packages/nextjs-kit/__tests__/snapshotTests/paginator.test.tsx
  packages/nextjs-kit/__tests__/snapshotTests/recipe.test.tsx
  packages/nextjs-kit/__tests__/sortChar.test.ts
  packages/nextjs-kit/__tests__/sortDate.test.ts
  packages/nextjs-kit/index.ts
  packages/nextjs-kit/lint-staged.config.cjs
  packages/nextjs-kit/package.json
  packages/nextjs-kit/postcss.config.cjs
  packages/nextjs-kit/src/components/contentWithImage.tsx
  packages/nextjs-kit/src/components/footer.tsx
  packages/nextjs-kit/src/components/grid.tsx
  packages/nextjs-kit/src/components/header.tsx
  packages/nextjs-kit/src/components/index.ts
  packages/nextjs-kit/src/components/paginator.tsx
  packages/nextjs-kit/src/components/previewRibbon.tsx
  packages/nextjs-kit/src/components/recipe.tsx
  packages/nextjs-kit/src/index.ts
  packages/nextjs-kit/src/lib/index.ts
  packages/nextjs-kit/src/style.css
  packages/nextjs-kit/src/types.ts
  packages/nextjs-kit/src/utils/sortChar.ts
  packages/nextjs-kit/src/utils/sortDate.ts
  packages/nextjs-kit/tailwind.config.cjs
  packages/nextjs-kit/tsconfig.build.json
  packages/nextjs-kit/vite.config.js
  pnpm-lock.yaml
Labels: nextjs-kit

#691 Use --fix for linting nextjs generator output
  .changeset/sour-windows-relax.md
  .github/workflows/canary-sites-split.yml
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/package.json.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/nextDrupalPkgJson.hbs
Labels: next-drupal, next-wordpress, cli-templates

#692 DB-6041: Use css-modules for the umami addon
  .changeset/mighty-bears-wave.md
  .github/workflows/canary-sites-split.yml
  .github/workflows/release-and-split.yml
  packages/create-pantheon-decoupled-kit/src/generators/next-drupal-umami-addon.generator.ts
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/components/grid.module.css.hbs
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal-umami-addon/components/recipeGridItem.jsx
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/components/grid.jsx
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/nextDrupalCatchAllView.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/sharedNextDrupalConfig.hbs
  packages/create-pantheon-decoupled-kit/src/templates/tailwindless-next/pages/catch-all.module.css.hbs
Labels: cli-addon, cli-templates

#697 DB-6038: Update Imports in Pagination Page
  .changeset/famous-bugs-drum.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/pages/examples/pagination/[[...page]].jsx
Labels: bugfix, next-wordpress, cli-templates

#695 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
Labels: 🐥 canary release

#696 Use `next/compat/router`
  .changeset/funny-eggs-sip.md
  .changeset/mighty-numbers-fail.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/next.config.js
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/sharedNextDrupalConfig.hbs
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/contentWithImage.test.tsx.snap
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/recipe.test.tsx.snap
  packages/nextjs-kit/package.json
  packages/nextjs-kit/src/components/contentWithImage.tsx
  packages/nextjs-kit/src/components/paginator.tsx
  packages/nextjs-kit/src/components/recipe.tsx
  packages/nextjs-kit/vite.config.js
  pnpm-lock.yaml
Labels: next-drupal, bugfix, next-wordpress, nextjs-kit, cli-templates

#698 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/nextjs-kit/CHANGELOG.md
  packages/nextjs-kit/package.json
Labels: 🐥 canary release

#699 Decode req.url before regext.test in `preview` api route
  .changeset/violet-donuts-lay.md
  packages/create-pantheon-decoupled-kit/src/templates/next-drupal/pages/api/preview.js
Labels: next-drupal, cli-templates

#704 Fix lint:fix command
  .changeset/polite-rats-behave.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/package.json.hbs
  packages/create-pantheon-decoupled-kit/src/templates/partials/next-drupal/nextDrupalPkgJson.hbs
Labels: bugfix, cli-templates

#701 Fix nextjs-kit compatibility with Next.js 13.4
  .changeset/clean-toes-speak.md
  .changeset/funny-rules-rule.md
  .changeset/odd-items-arrive.md
  package.json
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/contentWithImage.test.tsx.snap
  packages/nextjs-kit/__tests__/snapshotTests/__snapshots__/recipe.test.tsx.snap
  packages/nextjs-kit/package.json
  packages/nextjs-kit/src/components/contentWithImage.tsx
  packages/nextjs-kit/src/components/paginator.tsx
  packages/nextjs-kit/tsup.config.ts
  packages/nextjs-kit/vite.config.js
  packages/wordpress-kit/package.json
  pnpm-lock.yaml
Labels: wordpress-kit, nextjs-kit

#705 [docs ] Fix incorrect link in docs footer
  web/docusaurus.config.js
Labels: documentation, bugfix

#703 Canary Release (canary)
  .changeset/pre.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/nextjs-kit/CHANGELOG.md
  packages/nextjs-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
Labels: 🐥 canary release

#706 Add .prettierrc to next-wp template
  .changeset/seven-moose-sit.md
  packages/create-pantheon-decoupled-kit/src/templates/next-wp/.prettierrc
Labels: bugfix, cli-templates

#708 Add @types/react & @types/react-dom to nextjs-kit devDeps
  .changeset/mighty-impalas-appear.md
  .changeset/rich-cows-arrive.md
  packages/nextjs-kit/package.json
  packages/nextjs-kit/src/components/grid.tsx
  pnpm-lock.yaml
Labels: bugfix, nextjs-kit

#710 DB-5244: Add tagged template support in addWithDiff + tests
  .changeset/tiny-bugs-live.md
  packages/create-pantheon-decoupled-kit/__tests__/addWithDiff.test.ts
  packages/create-pantheon-decoupled-kit/__tests__/fixtures/addWithDiff/populated/test-anotherFileWithDiff.js
  packages/create-pantheon-decoupled-kit/__tests__/fixtures/addWithDiff/populated/test-ts-template.ts
  packages/create-pantheon-decoupled-kit/__tests__/fixtures/addWithDiff/populated/test-withDiff.js
  packages/create-pantheon-decoupled-kit/__tests__/taggedTemplateHelpers.test.ts
  packages/create-pantheon-decoupled-kit/__tests__/templates/addWithDiff/test-can-be-empty.ts.ts
  packages/create-pantheon-decoupled-kit/__tests__/templates/addWithDiff/test-ts-template.ts.ts
  packages/create-pantheon-decoupled-kit/src/actions/addWithDiff.ts
  packages/create-pantheon-decoupled-kit/src/types.ts
  packages/create-pantheon-decoupled-kit/src/utils/index.ts
  packages/create-pantheon-decoupled-kit/src/utils/taggedTemplateHelpers.ts
Labels: cli

#716 Sprint 10 Backmerge Main -> Canary
  .changeset/clean-toes-speak.md
  .changeset/curvy-buckets-juggle.md
  .changeset/famous-bugs-drum.md
  .changeset/fast-days-accept.md
  .changeset/four-foxes-check.md
  .changeset/funny-eggs-sip.md
  .changeset/funny-rules-rule.md
  .changeset/good-eels-kick.md
  .changeset/hungry-coats-flow.md
  .changeset/large-apes-cross.md
  .changeset/loud-pumpkins-switch.md
  .changeset/lovely-pants-sip.md
  .changeset/metal-hornets-prove.md
  .changeset/mighty-bears-wave.md
  .changeset/mighty-impalas-appear.md
  .changeset/mighty-numbers-fail.md
  .changeset/ninety-cooks-melt.md
  .changeset/odd-items-arrive.md
  .changeset/polite-rats-behave.md
  .changeset/pre.json
  .changeset/quick-dancers-cover.md
  .changeset/rich-cows-arrive.md
  .changeset/seven-moose-sit.md
  .changeset/sour-windows-relax.md
  .changeset/strange-shrimps-learn.md
  .changeset/strong-knives-return.md
  .changeset/ten-squids-watch.md
  .changeset/thick-hotels-check.md
  .changeset/thirty-walls-joke.md
  .changeset/tidy-rocks-brake.md
  .changeset/twelve-hats-grin.md
  .changeset/twelve-kids-fix.md
  .changeset/violet-donuts-lay.md
  packages/cms-kit/CHANGELOG.md
  packages/cms-kit/package.json
  packages/configs/eslint/CHANGELOG.md
  packages/configs/eslint/package.json
  packages/create-pantheon-decoupled-kit/CHANGELOG.md
  packages/create-pantheon-decoupled-kit/package.json
  packages/drupal-kit/CHANGELOG.md
  packages/drupal-kit/package.json
  packages/nextjs-kit/CHANGELOG.md
  packages/nextjs-kit/package.json
  packages/wordpress-kit/CHANGELOG.md
  packages/wordpress-kit/package.json
Labels: release

#717 Enter pre-release mode for sprint 11
  .changeset/pre.json
Labels: release
